<header class="header">
    <div class="fixCen inner-header">
        <a href="#" class="btn-playnow">PLAY NOW</a>
        <a href="javascript:void(0);" class="icon-menu"></a>
        <ul class="rs lst-menu">
            <li><a href="#">HOME</a></li>
            <li><a href="#">TOKENAMIC</a></li>
            <li><a href="#">WHITEPAPER</a></li>
            <li><a href="#">MARKET PLACE</a></li>
        </ul>
    </div>
</header>
<section class="section-1">
    <div class="fixCen">
        <h1 class="rs"><a href="#" class="logo"></a></h1>
        <span class="slogan"></span>
        <span class="ball-bida"></span>

        <div class="box-scroll">
            <a href="javascript:void(0);" class="btn-play-video" data-toggle="modal" data-target="#video_modal">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" class="play-icon" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z"></path></svg>
            </a>
            <br>SCROLL<br/>
            <svg stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24" class="scroll-icon" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M9.17154 16.8182L7.75732 18.2324L12 22.475L16.2426 18.2324L14.8284 16.8182L12 19.6466L9.17154 16.8182Z" fill="currentColor"></path><path d="M14.8284 7.182L16.2426 5.76779L12 1.52515L7.75733 5.76779L9.17155 7.182L12 4.35357L14.8284 7.182Z" fill="currentColor"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M12 9.00018C13.6569 9.00018 15 10.3433 15 12.0002C15 13.657 13.6569 15.0002 12 15.0002C10.3431 15.0002 9 13.657 9 12.0002C9 10.3433 10.3431 9.00018 12 9.00018ZM12 11.0002C12.5523 11.0002 13 11.4479 13 12.0002C13 12.5525 12.5523 13.0002 12 13.0002C11.4477 13.0002 11 12.5525 11 12.0002C11 11.4479 11.4477 11.0002 12 11.0002Z" fill="currentColor"></path></svg>
        </div>
    </div>
</section>
<section class="main">
    <div class="fixCen">
        <span class="ball-main-white"><span class="ball-white-icon"></span></span>
        <div class="box-about" id="offset0">
            <h4 class="rs title">ABOUT CRYPTO 8 BALL</h4>
            <div class="main-detail">
                <div class="info-detail">
                    <p>
                        Billard 8 Ball là một hệ sinh thái chơi game DeFi x NFT với sự khác biệt là công nghệ blockchain được áp dụng cho trò chơi, cùng với mô hình Chơi miễn phí để kiếm tiền và thể hiện bản thân. 
                    </p>
                    <p>
                        Tiền đề cho sự phát triển của trò chơi dựa trên niềm đam mê với dòng game Esport nói chung và Billard nói riêng .
                    </p>
                    <p>
                        Bằng khao khát thể hiện bản thân với những kỹ năng điêu luyện trên bàn đấu của thể loại Pool 8 bóng , người chơi hóa thân thành các cơ thủ đích thực để chinh phục các nhiệm vụ và vượt qua những người chơi khác để có thể giành lấy chiến thắng và đặc biệt hơn cả là có thể kiếm được ra tiền như 1 bộ môn thể thao đích thực.
                    </p>
                    <p>
                        Hệ thống trò chơi hỗ trợ nhiều nền tảng và nhiều thiết bị: Web game (PC, điện thoại di động, máy tính bảng), Android, iOS. Đáp ứng được nhu cầu giải trí và thỏa mãn đam mê của những cơ thủ mọi lúc mọi nơi .
                    </p>
                    <p>
                        Tương lai của trò chơi sẽ bước vào được 1 Metaverse Ảo của mình . Người chơi sẽ không còn sử dụng các thiết bị truyền thống như máy tính xách tay hay điện thoại di động để tham gia trò chơi, thay vào đó, họ sẽ bước vào thế giới ảo 3D, hóa thân thành các cơ thủ chuyên nghiệp để chinh phục và đánh bại các đối thủ đáng gờm.
                    </p>
                </div>
                <span class="img-cup"><img src="assets/images/home/cup.png"/></span>
            </div>
        </div>
        <div class="box-roadmap p-main" id="offset1">
            <h4 class="rs title">ROAD MAP</h4>
            <div class="box-progress-map ">
                <span class="bar-bida"></span>
                <div class="item-map">
                    <span class="title">AUG 2021</span>
                    <ul class="rs lst-info">
                        <li>Xây dựng ý tưởng, bắt đầu thiết kế và xây dựng trò chơi.</li>
                        <li>Kết nối với các cố vấn và chuẩn bị cho các kế hoạch chính thức.</li>
                    </ul>
                </div>
                <div class="item-map">
                    <span class="title">NOV 2021</span>
                    <ul class="rs lst-info">
                        <li>Hoàn tất coding game. Áp dụng công nghệ blockchain vào trò chơi.</li>
                        <li>Mua vật phẩm trò chơi, nâng cấp cấp độ bằng mã Token xxx</li>
                        <li>Hoàn thiện UI/UX, hoạt ảnh.</li>
                        <li>Đưa game lên Google Play và Appstore.</li>
                    </ul>
                </div>
                <div class="item-map">
                    <span class="title">DEC 2021</span>
                    <ul class="rs lst-info">
                        <li>Xây dựng ý tưởng, bắt đầu thiết kế và xây dựng trò chơi.</li>
                        <li>Kết nối với các cố vấn và chuẩn bị cho các kế hoạch chính thức.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box-token p-main" id="offset2">
            <h4 class="rs title">TOKEN ECONOMICS</h4>
            <div class="box-pie">
                <div id="do_legend"></div>
                <div class="box-canvas">
                    <canvas id="canvas"></canvas>
                </div>
            </div>

            <div class="lst-info-token">
                <div class="item">
                    <label>Token Name:</label>
                    <p class="rs">Billiards</p>
                </div>
                <div class="item">
                    <label>Token Symbol:</label>
                    <p class="rs">BLD</p>
                </div>
                <div class="item">
                    <label>Token Supply:</label>
                    <p class="rs">100.000.000 BLD</p>
                </div>
                <div class="item">
                    <label>Blockchain Network:</label>
                    <p class="rs">Binance Smart Chain (BSC)</p>
                </div>
                <div class="item">
                    <label>Contract:</label>
                    <p class="rs active">0x20d39a513…589ea9ed8</p>
                </div>
            </div>


        </div>
        <div class="box-team p-main" id="offset3">
            <h4 class="rs title title-4">OUR TEAM AND OUR ADVISORS</h4>
            <div class="main-team">
                <ul class="rs lst-team">
                    <li>
                        <a href="#" class="item-team">
                            <span class="avatar-user"><img src="assets/images/home/avatar.png"/></span>
                            <div class="info-team">
                                <span class="name">Frank Thanh</span>
                                <span class="team-position">Founder & CEO</span>
                                <span class="description">Head of Product and Technical Lead</span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="item-team">
                            <span class="avatar-user"><img src="assets/images/home/avatar.png"/></span>
                            <div class="info-team">
                                <span class="name">Frank Thanh</span>
                                <span class="team-position">Founder & CEO</span>
                                <span class="description">Head of Product and Technical Lead</span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="item-team">
                            <span class="avatar-user"><img src="assets/images/home/avatar.png"/></span>
                            <div class="info-team">
                                <span class="name">Frank Thanh</span>
                                <span class="team-position">Founder & CEO</span>
                                <span class="description">Head of Product and Technical Lead</span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="item-team">
                            <span class="avatar-user"><img src="assets/images/home/avatar.png"/></span>
                            <div class="info-team">
                                <span class="name">Frank Thanh</span>
                                <span class="team-position">Founder & CEO</span>
                                <span class="description">Head of Product and Technical Lead</span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="item-team">
                            <span class="avatar-user"><img src="assets/images/home/avatar.png"/></span>
                            <div class="info-team">
                                <span class="name">Frank Thanh</span>
                                <span class="team-position">Founder & CEO</span>
                                <span class="description">Head of Product and Technical Lead</span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="item-team">
                            <span class="avatar-user"><img src="assets/images/home/avatar.png"/></span>
                            <div class="info-team">
                                <span class="name">Frank Thanh</span>
                                <span class="team-position">Founder & CEO</span>
                                <span class="description">Head of Product and Technical Lead</span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="item-team">
                            <span class="avatar-user"><img src="assets/images/home/avatar.png"/></span>
                            <div class="info-team">
                                <span class="name">Frank Thanh</span>
                                <span class="team-position">Founder & CEO</span>
                                <span class="description">Head of Product and Technical Lead</span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="item-team">
                            <span class="avatar-user"><img src="assets/images/home/avatar.png"/></span>
                            <div class="info-team">
                                <span class="name">Frank Thanh</span>
                                <span class="team-position">Founder & CEO</span>
                                <span class="description">Head of Product and Technical Lead</span>
                            </div>
                        </a>
                    </li>
                </ul>
                <span class="img-group-ball"></span>
            </div>
        </div>
        <div class="box-partner p-main" id="offset4">
            <h4 class="rs title title-4">OUR PARTNERS & BACKERS</h4>
            <div class="lst-partner">
                <a href="#" class="pn-1"></a>
                <a href="#" class="pn-2"></a>
                <a href="#" class="pn-3"></a>
                <a href="#" class="pn-4"></a>
                <a href="#" class="pn-5"></a>
                <a href="#" class="pn-6"></a>
                <a href="#" class="pn-7"></a>
                <a href="#" class="pn-8"></a>
                <a href="#" class="pn-9"></a>
                <a href="#" class="pn-10"></a>
                <a href="#" class="pn-11"></a>
                <a href="#" class="pn-12"></a>
                <a href="#" class="pn-13"></a>
                <a href="#" class="pn-14"></a>
                <a href="#" class="pn-15"></a>
                <a href="#" class="pn-16"></a>
            </div>
        </div>
    </div>
</section>

<footer class="footer" id="offset5">
    <div class="fixCen">
        <div class="top-footer">
            <div class="item">
                <h4 class="title">FAQs</h4>
                <ul class="rs">
                    <li><a href="#">1. What is Crypto 8 Ball?</a></li>
                    <li><a href="#">2. Which Blockchain will the game be developed on?</a></li>
                    <li><a href="#">3. What is the contract of XXX?</a></li>
                    <li><a href="#">4. What are Crypto 8 Ball tokens?</a></li>
                    <li><a href="#">5. What in the game is NFT?</a></li>
                    <li><a href="#">6. How do I sell NFTs and XXX tokens?</a></li>
                </ul>
            </div>
            <div class="item">
                <h4 class="title">NEWs</h4>
                <ul class="rs">
                    <li><a href="#">1. Where do I play Crypto 8 Ball?</a></li>
                    <li><a href="#">2. How do I get started?</a></li>
                    <li><a href="#">3. How can I carn XXX tokens?</a></li>
                    <li><a href="#">4. How do I get NFT and NTF Items?</a></li>
                    <li><a href="#">5. How do Crypto 8 Ball control NFTs inflation?</a></li>
                    <li><a href="#">6. I need some helps?</a></li>
                </ul>
            </div>
        </div>
        <div class="bottom-footer">
            <div class="box-images">
                <span class="logo"></span>
                <span class="img-cup"></span>
            </div>
            <div class="box-info-bottom">
                <div class="item-info">
                     <h5 class="rs title">Links</h5>
                    <ul class="rs">
                        <li><a href="#">Play game</a></li>
                        <li><a href="#">Marketplace</a></li>
                        <li><a href="#">Docs</a></li>
                        <li><a href="#">HHH Token</a></li>
                        <li><a href="#">Pitch Deck</a></li>
                        <li><a href="#">Media kit</a></li>
                        <li><a href="#">Feedback to us</a></li>
                        <li><a href="#">Support</a></li>
                    </ul>
                </div>
                <div class="item-info">
                    <h5 class="rs title">Social Network</h5>
                    <ul class="rs">
                        <li><a href="#" class="icon-1">News</a></li>
                        <li><a href="#" class="icon-2">Discord</a></li>
                        <li><a href="#" class="icon-3">Telegram</a></li>
                        <li><a href="#" class="icon-4">Twitter</a></li>
                        <li><a href="#" class="icon-5">Facebook</a></li>
                        <li><a href="#" class="icon-6">Youtube</a></li>
                        <li><a href="#" class="icon-7">Github</a></li>
                        <li><a href="#" class="icon-8">Blog</a></li>
                    </ul>
                </div>
                <div class="item-info">
                    <h5 class="rs title">Our mobile App</h5>
                    <ul class="rs">
                        <li><a href="#">Download our App and enjoy</a></li>
                        <li><a href="#">Play to Earn daily.</a></li>
                    </ul>
                    <div class="lst-app">
                        <a href="#" class="btn-appstore"></a>
                        <a href="#" class="btn-ggplay"></a>
                    </div>
                </div>
            </div>

        </div>
        <div class="info-bottom-footer">
            <p>2021 Cryto 8 Ball. All rights reserved </p>
            <div class="lst-link">
                <a href="#">Terms</a>
                <a href="#">Privacy</a>
            </div>
        </div>
    </div>
</footer>

<!--video youtube-->
<div class=" modal fade popup-video" id="video_modal" >
    <div class="modal-dialog"  role="document">
        <div class="modal-content">
            <a class="btn-close" data-dismiss="modal" aria-label="Close"></a>
            <div id="player"></div>
        </div>
    </div>
</div>
