<header class="header">
    <div class="fixCen inner-header">
        <a href="javascript:void(0);" class="icon-menu"></a>
        <div class="d-flex">
            <a href="#" class="btn-playnow">PLAY NOW</a>
            <a href="javascript:void(0);" class="btn-connect-wallet" data-toggle="modal" data-target="#connect_modal">CONNECT WALLET</a>
        </div>
        <ul class="rs lst-menu">
            <li><a href="#">HOME</a></li>
            <li><a href="#">TOKENAMIC</a></li>
            <li><a href="#">WHITEPAPER</a></li>
            <li><a href="javascript:void(0);" data-toggle="modal" data-target="#connect_modal">CONNECT WALLET</a></li>
        </ul>
    </div>
</header>
<main>
    <div class="main-market">
        <div class="top-main">
            <h1 class="rs"><a href="#" class="logo"></a></h1>
            <div class="nav nav-tabs">
                <a class="nav-item nav-link active" href="pool-page.html">POOL</a>
                <a class="nav-item nav-link" href="poolbox-page.html" >POOL BOX</a>
            </div>
        </div>
        <div class="main-pool">
           <div class="fixCen ">

                <div class="item-detail-pool">
                    <a href="pool-page.html" class="btn-back-page w-100">Go back</a>
                    <div class="images-pool">
                        <span>Power Pool</span>
                        <span class="img"><img class="img-fluid" src="assets/images/market/bar-item-col.png"/></span>
                    </div>
                    <div class="main-pool-detail">
                        <div class="detail-pool-top">
                            <div class="text-price">Price: <span>100$</span></div>
                            <a href="#" class="btn-buynow">BUY NOW</a>
                        </div>
                        <div class="detail-item-pool">
                            <h4 class="title">About</h4>
                            <div class="detail-pool">
                                <span class="id-code">ID: 123456</span>
                                <ul class="rs lst-progress">
                                    <li>
                                        <span class="label-title">Chỉ số 1</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <span class="label-title">Chỉ số 1</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <span class="label-title">Chỉ số 1</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <span class="label-title">Chỉ số 1</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="detail-item-pool mb-0">
                            <h4 class="title">Sale History</h4>
                            <div class="detail-pool-history">
                                <div class="table-responsive scroll-bar">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">Seller</th>
                                            <th scope="col">Buyer</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Time</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td scope="row"><a href="#">0x6e4...04ce3</a></td>
                                            <td><a href="#">0x6e4...04ce3</a></td>
                                            <td>Pending</td>
                                            <td>21/11/2021 12:00:30</td>
                                        </tr>
                                        <tr>
                                            <td scope="row"><a href="#">0x6e4...04ce3</a></td>
                                            <td><a href="#">0x6e4...04ce3</a></td>
                                            <td>Pending</td>
                                            <td>@Time</td>
                                        </tr>
                                        <tr>
                                            <td scope="row"><a href="#">0x6e4...04ce3</a></td>
                                            <td><a href="#">0x6e4...04ce3</a></td>
                                            <td>Pending</td>
                                            <td>@Time</td>
                                        </tr>
                                        <tr>
                                            <td scope="row"><a href="#">0x6e4...04ce3</a></td>
                                            <td><a href="#">0x6e4...04ce3</a></td>
                                            <td>Pending</td>
                                            <td>@Time</td>
                                        </tr>
                                        <tr>
                                            <td scope="row"><a href="#">0x6e4...04ce3</a></td>
                                            <td><a href="#">0x6e4...04ce3</a></td>
                                            <td>Pending</td>
                                            <td>@Time</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </div>
</main>


<!--connect wallet-->
<div class="modal fade popup-video" id="connect_modal" >
    <div class="modal-dialog"  role="document">
        <div class="modal-content">
            <a class="btn-close" data-dismiss="modal" aria-label="Close"></a>
            <div class="main-wallet">
                <span class="icon-wallet"></span>
                <h4 class="rs title">CONNECT WALLET</h4>
                <p>You need to connect your wallet first</p>
                <div class="box-button">
                    <a class="btn-cancel" data-dismiss="modal">Cancel</a>
                    <a class="btn-connect" data-toggle="modal" data-target="#checkout_modal">Connect</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--connect wallet-->
<!--popup checkout-->
<div class="modal fade popup-video" id="checkout_modal" >
    <div class="modal-dialog"  role="document">
        <div class="modal-content">
            <a class="btn-close" data-dismiss="modal" aria-label="Close"></a>
            <div class="main-wallet align-items-start">
                <h4 class="rs title">CHECKOUT</h4>
                <p>You are about to purchase Pool box</p>
                <div class="price-box">
                    <label class="rs">Price</label>
                    <span>0.05 BNB</span>
                </div>
                <ul class="rs lst-info-checkout">
                    <li>
                        <span>Yout balance</span>
                        <span>0.05 BNB</span>
                    </li>
                    <li>
                        <span>Amount</span>
                        <span>1</span>
                    </li>
                    <li>
                        <span>Total price</span>
                        <span>0.05 BNB</span>
                    </li>
                </ul>
                <div class="text-note">
                    <span>Your balance is enough funds. Please deposit more and submit again</span>
                </div>
                <div class="box-button">
                    <a class="btn-cancel" data-dismiss="modal">Cancel</a>
                    <a class="btn-connect">Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--popup checkout-->