<header class="header">
    <div class="fixCen inner-header">
        <a href="javascript:void(0);" class="icon-menu"></a>
        <div class="d-flex">
            <a href="#" class="btn-playnow">PLAY NOW</a>
            <a href="javascript:void(0);" class="btn-connect-wallet" data-toggle="modal" data-target="#connect_modal">CONNECT WALLET</a>
        </div>
        <ul class="rs lst-menu">
            <li><a href="#">HOME</a></li>
            <li><a href="#">TOKENAMIC</a></li>
            <li><a href="#">WHITEPAPER</a></li>
            <li><a href="javascript:void(0);" data-toggle="modal" data-target="#connect_modal">CONNECT WALLET</a></li>
        </ul>
    </div>
</header>
<main>
    <div class="main-market">
        <div class="top-main">
            <h1 class="rs"><a href="#" class="logo"></a></h1>
            <div class="nav nav-tabs">
                <a class="nav-item nav-link " href="pool-page.html">POOL</a>
                <a class="nav-item nav-link active" href="poolbox-page.html" >POOL BOX</a>
            </div>
        </div>
        <div class="main-pool">
           <div class="fixCen ">
                <div class="lst-poolbox">
                    <a href="poolbox-detail1.html" class="item-poolbox">
                        <span class="img"><img src="assets/images/market/img-poolbox1.png"/></span>
                        <div class="info-detail-box">
                            <span class="name-box">EPIC BOX</span>
                            <div class="price-box">
                                <div class="info-price">
                                    <span class="number-price">0.5 BNB</span>
                                    <small>(300 USD)</small>
                                </div>
                            </div>
                            <div class="time-box">
                                Price reload in: <span>00s</span>
                            </div>
                        </div>
                    </a>
                    <!--           item         -->
                    <a href="poolbox-detail.html" class="item-poolbox">
                        <span class="img"><img src="assets/images/market/img-poolbox2.png"/></span>
                        <div class="info-detail-box">
                            <span class="name-box">LEGENDARY BOX</span>
                            <div class="price-box">
                                <div class="info-price">
                                    <span class="number-price">0.5 BNB</span>
                                    <small>(300 USD)</small>
                                </div>
                            </div>
                            <div class="time-box">
                                Price reload in: <span>00s</span>
                            </div>
                        </div>
                    </a>
                </div>
           </div>
        </div>
    </div>
</main>


<!--connect wallet-->
<div class="modal fade popup-video" id="connect_modal" >
    <div class="modal-dialog"  role="document">
        <div class="modal-content">
            <a class="btn-close" data-dismiss="modal" aria-label="Close"></a>
            <div class="main-wallet">
                <span class="icon-wallet"></span>
                <h4 class="rs title">CONNECT WALLET</h4>
                <p>You need to connect your wallet first</p>
                <div class="box-button">
                    <a class="btn-cancel" data-dismiss="modal">Cancel</a>
                    <a class="btn-connect" data-toggle="modal" data-target="#checkout_modal">Connect</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--connect wallet-->
<!--popup checkout-->
<div class="modal fade popup-video" id="checkout_modal" >
    <div class="modal-dialog"  role="document">
        <div class="modal-content">
            <a class="btn-close" data-dismiss="modal" aria-label="Close"></a>
            <div class="main-wallet align-items-start">
                <h4 class="rs title">CHECKOUT</h4>
                <p>You are about to purchase Pool box</p>
                <div class="price-box">
                    <label class="rs">Price</label>
                    <span>0.05 BNB</span>
                </div>
                <ul class="rs lst-info-checkout">
                    <li>
                        <span>Yout balance</span>
                        <span>0.05 BNB</span>
                    </li>
                    <li>
                        <span>Amount</span>
                        <span>1</span>
                    </li>
                    <li>
                        <span>Total price</span>
                        <span>0.05 BNB</span>
                    </li>
                </ul>
                <div class="text-note">
                    <span>Your balance is enough funds. Please deposit more and submit again</span>
                </div>
                <div class="box-button">
                    <a class="btn-cancel" data-dismiss="modal">Cancel</a>
                    <a class="btn-connect">Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--popup checkout-->