<header class="header">
    <div class="fixCen inner-header">
        <a href="javascript:void(0);" class="icon-menu"></a>
        <div class="d-flex">
            <a href="#" class="btn-playnow">PLAY NOW</a>
            <a href="javascript:void(0);" class="btn-connect-wallet" data-toggle="modal" data-target="#connect_modal">CONNECT WALLET</a>
        </div>
        <ul class="rs lst-menu">
            <li><a href="#">HOME</a></li>
            <li><a href="#">TOKENAMIC</a></li>
            <li><a href="#">WHITEPAPER</a></li>
            <li><a href="javascript:void(0);" data-toggle="modal" data-target="#connect_modal">CONNECT WALLET</a></li>
        </ul>
    </div>
</header>
<main>
    <div class="main-market">
        <div class="top-main">
            <h1 class="rs"><a href="#" class="logo"></a></h1>
            <div class="nav nav-tabs">
                <a class="nav-item nav-link active" href="pool-page.html">POOL</a>
                <a class="nav-item nav-link" href="poolbox-page.html" >POOL BOX</a>
            </div>
        </div>
        <div class="main-pool">
            <div class="box-left">
                <form>
                    <div class="form-group search">
                        <input type="text" placeholder="Search by name... "/>
                        <button class="btn-search"></button>
                    </div>
                    <div class="group-search">
                        <div class="title-1">
                            <h4 class="rs">Filter</h4>
                            <a href="#" class="btn-reset">Reset Filter</a>
                        </div>
                        <div class="item-group-search">
                            <h5 class="rs title">Price</h5>
                            <div class="d-group-price">
                                <label class="group-container">High to Low
                                    <input type="checkbox" checked="checked">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="group-container">Low to High
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>

                        </div>
                        <div class="item-group-search">
                            <h5 class="rs title">Type</h5>
                            <div class="d-flex box-checktype">
                                <label class="group-container">Normal
                                    <input type="checkbox" checked="checked">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="group-container">Event
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="item-group-search">
                            <h5 class="rs title">Propensity</h5>
                            <div class="item-ranger">
                                <label>Power</label>
                                <div class="ranger-box">
                                    <input type="text" class="js-range-slider" name="my_range" value="" id="ranger-power" />
                                </div>
                            </div>
                            <div class="item-ranger">
                                <label>Accurate</label>
                                <div class="ranger-box">
                                    <input type="text" class="js-range-slider" name="my_range" value="" id="ranger-accurate" />
                                </div>
                            </div>
                            <div class="item-ranger">
                                <label>Spin</label>
                                <div class="ranger-box">
                                    <input type="text" class="js-range-slider" name="my_range" value="" id="ranger-spin" />
                                </div>
                            </div>
                            <div class="item-ranger">
                                <label>Duration</label>
                                <div class="ranger-box">
                                    <input type="text" class="js-range-slider" name="my_range" value="" id="ranger-duration" />
                                </div>
                            </div>
                            <div class="item-ranger">
                                <label>Reliability</label>
                                <div class="ranger-box">
                                    <input type="text" class="js-range-slider" name="my_range" value="" id="ranger-reliability" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="main-right">
                <div class="label-result"><h4 class="rs">8686</h4> results</div>
                <!--list poll-->
                <div class="lst-pool-result">
                    <a href="detail-pool.html" class="item-pool-result">
                        <div class="info-item w-100">
                            <span>Power</span>
                            <span class="text-end">Lv.100</span>
                        </div>
                        <span class="bar-item w-100"><img class="img-fluid" src="assets/images/market/bar-item.png"/></span>
                        <div class="info-item  w-100">
                            <span>100$</span>
                            <span class="text-end">ID:123456</span>
                        </div>
                    </a>
                    <a href="detail-pool.html" class="item-pool-result">
                        <div class="info-item w-100">
                            <span>Power</span>
                            <span class="text-end">Lv.100</span>
                        </div>
                        <span class="bar-item w-100"><img class="img-fluid" src="assets/images/market/bar-item.png"/></span>
                        <div class="info-item  w-100">
                            <span>100$</span>
                            <span class="text-end">ID:123456</span>
                        </div>
                    </a>
                    <a href="detail-pool.html" class="item-pool-result">
                        <div class="info-item w-100">
                            <span>Power</span>
                            <span class="text-end">Lv.100</span>
                        </div>
                        <span class="bar-item w-100"><img class="img-fluid" src="assets/images/market/bar-item.png"/></span>
                        <div class="info-item  w-100">
                            <span>100$</span>
                            <span class="text-end">ID:123456</span>
                        </div>
                    </a>
                    <a href="detail-pool.html" class="item-pool-result">
                        <div class="info-item w-100">
                            <span>Power</span>
                            <span class="text-end">Lv.100</span>
                        </div>
                        <span class="bar-item w-100"><img class="img-fluid" src="assets/images/market/bar-item.png"/></span>
                        <div class="info-item  w-100">
                            <span>100$</span>
                            <span class="text-end">ID:123456</span>
                        </div>
                    </a>
                    <a href="detail-pool.html" class="item-pool-result">
                        <div class="info-item w-100">
                            <span>Power</span>
                            <span class="text-end">Lv.100</span>
                        </div>
                        <span class="bar-item w-100"><img class="img-fluid" src="assets/images/market/bar-item.png"/></span>
                        <div class="info-item  w-100">
                            <span>100$</span>
                            <span class="text-end">ID:123456</span>
                        </div>
                    </a>
                    <a href="detail-pool.html" class="item-pool-result">
                        <div class="info-item w-100">
                            <span>Power</span>
                            <span class="text-end">Lv.100</span>
                        </div>
                        <span class="bar-item w-100"><img class="img-fluid" src="assets/images/market/bar-item.png"/></span>
                        <div class="info-item  w-100">
                            <span>100$</span>
                            <span class="text-end">ID:123456</span>
                        </div>
                    </a>
                    <a href="detail-pool.html" class="item-pool-result">
                        <div class="info-item w-100">
                            <span>Power</span>
                            <span class="text-end">Lv.100</span>
                        </div>
                        <span class="bar-item w-100"><img class="img-fluid" src="assets/images/market/bar-item.png"/></span>
                        <div class="info-item  w-100">
                            <span>100$</span>
                            <span class="text-end">ID:123456</span>
                        </div>
                    </a>
                    <a href="detail-pool.html" class="item-pool-result">
                        <div class="info-item w-100">
                            <span>Power</span>
                            <span class="text-end">Lv.100</span>
                        </div>
                        <span class="bar-item w-100"><img class="img-fluid" src="assets/images/market/bar-item.png"/></span>
                        <div class="info-item  w-100">
                            <span>100$</span>
                            <span class="text-end">ID:123456</span>
                        </div>
                    </a>
                </div>
                <!--list poll-->
                <nav aria-label="navigation">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link arr-prev" href="#" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">15</a></li>
                        <li class="page-item">
                            <a class="page-link arr-next" href="#" aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</main>


<!--connect wallet-->
<div class="modal fade popup-video" id="connect_modal" >
    <div class="modal-dialog"  role="document">
        <div class="modal-content">
            <a class="btn-close" data-dismiss="modal" aria-label="Close"></a>
            <div class="main-wallet">
                <span class="icon-wallet"></span>
                <h4 class="rs title">CONNECT WALLET</h4>
                <p>You need to connect your wallet first</p>
                <div class="box-button">
                    <a class="btn-cancel" data-dismiss="modal">Cancel</a>
                    <a class="btn-connect" data-toggle="modal" data-target="#checkout_modal">Connect</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--connect wallet-->
<!--popup checkout-->
<div class="modal fade popup-video" id="checkout_modal" >
    <div class="modal-dialog"  role="document">
        <div class="modal-content">
            <a class="btn-close" data-dismiss="modal" aria-label="Close"></a>
            <div class="main-wallet align-items-start">
                <h4 class="rs title">CHECKOUT</h4>
                <p>You are about to purchase Pool box</p>
                <div class="price-box">
                    <label class="rs">Price</label>
                    <span>0.05 BNB</span>
                </div>
                <ul class="rs lst-info-checkout">
                    <li>
                        <span>Yout balance</span>
                        <span>0.05 BNB</span>
                    </li>
                    <li>
                        <span>Amount</span>
                        <span>1</span>
                    </li>
                    <li>
                        <span>Total price</span>
                        <span>0.05 BNB</span>
                    </li>
                </ul>
                <div class="text-note">
                    <span>Your balance is enough funds. Please deposit more and submit again</span>
                </div>
                <div class="box-button">
                    <a class="btn-cancel" data-dismiss="modal">Cancel</a>
                    <a class="btn-connect">Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--popup checkout-->