@function vw($target) {
  $vw-context: (1920 * 0.01) * 1px;   @return ($target / $vw-context) * 1vw;
}
//@function vw($target) {
//  $vw-context: (1366 * 0.01) * 1px;   @return ($target / $vw-context) * 1vw;
//}
@function vwm($target) {
  $vw-context: (1024 * 0.01) * 1px;   @return ($target / $vw-context) * 1vw;
}
@font-face {
  font-family: "UTM Hanzel";
  src: url("../font/UTM-Hanzel.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "UTM NguyenHa 02";
  src: url("../font/UTM-NguyenHa-02.ttf") format("truetype");
  font-display: swap;
}
@keyframes lightBox {
  from {
    left: -50px;
  }
  to {
    left: 100%;
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
@keyframes headShake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  6.5% {
    -webkit-transform: translateX(-6px) rotateY(-9deg);
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    -webkit-transform: translateX(5px) rotateY(7deg);
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    -webkit-transform: translateX(-3px) rotateY(-5deg);
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    -webkit-transform: translateX(2px) rotateY(3deg);
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.animate__headShake {
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: headShake;
  animation-name: headShake;
}
.fixCen{
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  @media only screen and (max-width: 1365px) {
    max-width: vwh(1200px);
  }
  @media only screen and (max-width: 1023px) {
    max-width: 100%;
  }
}
.rs{
  padding: 0;
  margin: 0;
  list-style: none;
}
body{
  padding: 0;
  margin: 0;
}
.text-green{
  color: #40ff5f;
}
.text-red{
  color: #ff4040;
}
.text-yellow{
  color: #ffce09;
}
a{
  &:hover{
    text-decoration: none;
  }
}
.p-main{
  padding: 20px 80px;
  @media only screen and (max-width: 1365px) {
    padding: vwh(20px) vwh(80px);
  }
  @media only screen and (max-width: 1023px) {
    padding: vwm(20px) vwm(192px);
  }
}
.wrapper-market{
  width: 100%;
  overflow: hidden;
  font-size: 18px;
  color: #fff;
  font-family: "UTM Hanzel",sans-serif;
  background: url("../images/market/bg.jpg") 50% 0 no-repeat #05458c;
  padding-top: 62px;
  min-height: 100vh;

  @media only screen and (max-width: 1024px) {
    background: url("../images/market/bg-mb.jpg") 50% 0 no-repeat #036aad;
  }
  @media only screen and (max-width: 639px) {
    font-size: 14px;
  }
  .header{
    background: url("../images/home/line-header.png") 50% 100% #000000 no-repeat;
    height: 62px;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 9;
    font-size: 18px;
    .icon-menu{
      display: none;
    }
    .inner-header{
      display: flex;
      align-items: center;
    }
    .btn-playnow{
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffff;
      width: 164px;
      height: 40px;
      border-radius: 20px;
      position: absolute;
      left: 50%;
      margin-left: -82px;
      top: 50%;
      margin-top: -18px;
      background-image: linear-gradient(to right, #ffb001 , #ffed02);
      overflow: hidden;
      &:before{
        display: block;
        content: '';
        background-image: linear-gradient(#ffffffbd, #ffffff0a);
        box-shadow: 0 0 10px 0 #fff;
        width: 100%;
        height: 5px;
        transform: rotate(-45deg);
        position: absolute;
        top: 0;
        animation: lightBox 1s linear infinite;
      }
    }
    .btn-connect-wallet{
      display: none;
    }
    .lst-menu{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      li{
        list-style: none;
        a{
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 164px;
          height: 40px;
          padding: 0 10px;
          border: 1px solid #ffff;
          color: #fff;
          border-radius: 20px;
          &:hover{
            color: #ffb001;
            border: 1px solid #ffb001;
          }
        }
        &:nth-child(2){
          margin-right: 120px;
        }
        &:nth-child(3){
          margin-left: 120px;
        }
      }
    }
    @media only screen and (max-width: 1365px) {
      background-size: 100% auto;
      height: vw(62px);
      font-size: vw(18px);
      .fixCen{
        max-width: vw(1200px);
      }
      .btn-playnow{
        width: vw(164px);
        height: vw(40px);
        border-radius: vw(20px);
        margin-left: vw(-82px);
        margin-top: vw(-20px);
      }
      .lst-menu{
        li{
          a{
            min-width: vw(164px);
            height: vw(40px);
            border-radius: vw(20px);
          }
          &:nth-child(2){
            margin-right: vw(120px);
          }
          &:nth-child(3){
            margin-left: vw(120px);
          }
        }
      }
    }
    @media only screen and (max-width: 1023px) {
      background-size:auto;
      height: 62px;
      font-size: 14px;
      .fixCen{
        max-width: 90%;
      }
      .btn-playnow{
        width: vwm(164px);
        height: vwm(40px);
        border-radius: vwm(20px);
        margin-left: vwm(-82px);
        margin-top: vwm(-20px);
      }
      .lst-menu{
        li{
          a{
            min-width: vwm(164px);
            height: vwm(40px);
            border-radius: vwm(20px);
            padding: 0;
          }
          &:nth-child(2){
            margin-right: vwm(120px);
            margin-left: 10px;
          }
          &:nth-child(3){
            margin-left: vwm(100px);
            margin-right: 10px;
          }
        }
      }
    }
    @media only screen and (max-width: 767px) {
      height: 50px;
      display: flex;

      .inner-header{
        justify-content: space-between;
      }
      .btn-playnow{
        width: 120px;
        height: 36px;
        border-radius: 20px;
        position: static;
        overflow: hidden;
        margin-left: 0;
        margin-top: 0;
        &:before{
          display: none;
        }
      }
      .btn-connect-wallet{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ffff;
        color: #ffff;
        width: 164px;
        height: 36px;
        border-radius: 20px;
        margin-left: 10px;
      }
      .icon-menu{
        display: block;
        background: url("../images/home/icon-menu.png") 0/100% no-repeat;
        width: 35px;
        height: 35px;
        &.close{
          background: url("../images/home/icon-close.png") 0/100% no-repeat;
        }
      }
      .lst-menu{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color:#000000ed;
        top: 50px;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transform: translateX(-1000px);
        transition: all .5s ease;
        &.active{
          transform: translateX(0px);
        }
        li{
          width: 100%;
          border-bottom: 1px solid #ccc;
          &:last-child{
            border-bottom: 0;
          }
          a{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 35px;
            width: 100%;
            height: 40px;
            border: 0;
          }
          &:nth-child(2), &:nth-child(3){
            margin: 0;
          }
        }
      }
    }
  }
  .main-market{
    .top-main{
      position: relative;
      padding: 45px 0;
      .logo{
        display: block;
        background: url("../images/market/logo.png") 0/100% no-repeat;
        width: 200px;
        height: 95px;
        position: absolute;
        top: 20px;
        left: 100px;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-name: headShake;
        animation-name: headShake;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
      }
      .nav-tabs{
        justify-content: center;
        border-bottom: none;
        a{
          display: flex;
          align-items: center;
          justify-content: center;
          background: url("../images/market/tab-menu.png") 0/100% no-repeat;
          width: 279px;
          height: 65px;
          color: #fff;
          font-size: 28px;
          text-shadow: 2px 0px 6px #a4d2d7;
          margin: 0 25px;

          &:hover, &.active{
            background: url("../images/market/tab-menu-hover.png") 0/100% no-repeat;
            border: none;
          }
        }
      }
      @media only screen and (max-width: 1024px) {
        width: 100%;
        max-width: 640px;
        margin: 0 auto;
        padding-top: 150px;
        padding-bottom: 0;
        .logo{
          top: 10px;
          left: 50%;
          margin-left: -132px;
        }
        .nav-tabs{
          a{
            margin: 0 10px;
          }
        }
      }
      @media only screen and (max-width: 639px) {
        padding-top: 120px;
        .logo{
          width: 200px;
          height: 100px;
          margin-left: -100px;
          top: 0;
        }
        .nav-tabs{
          a{
            margin: 0 10px;
            width: 140px;
            height: 30px;
            font-size: 14px;
          }
        }
      }
    }
    .main-pool{
      width: 100%;
      max-width: 1920px;
      display: flex;
      padding: 0 20px;
      @media only screen and (max-width: 1024px) {
        max-width: 640px;
        margin: 0 auto;
        padding: 0 15px;
        flex-wrap: wrap;
      }
      .btn-back-page{
        display: flex;
        align-items: center;
        color: #ffff;
        font-size: 22px;
        padding: 10px 0;
        &:before{
          content: '';
          display: block;
          background: url("../images/market/btn-prev.png") 0/100% no-repeat;
          width: 10px;
          height: 16px;
          margin-right: 12px;
        }
        &:hover{
          color: #ffe402;
        }
        @media only screen and (max-width: 639px) {
          font-size: 18px;
        }
      }
      .box-left{
        width: 350px;
        margin-right: 20px;
        .search{
          width: 100%;
          background-color: #0003;
          border: 2px solid #007dcc;
          border-radius: 20px;
          height: 50px;
          display: flex;
          input{
            background-color: transparent;
            border: none;
            padding: 0 10px;
            height: 100%;
            color: #fff;
            flex: 1;
            font-family: "UTM NguyenHa 02";
            text-decoration: none;
            &::placeholder{
              color: #fff;
            }
            &:focus{
              outline: none;
            }
          }
          .btn-search{
            display: block;
            background: url("../images/market/icon-search.png") 50% 50% no-repeat;
            width: 50px;
            height: 50px;
            border: none;
            cursor: pointer;
            &:focus{
              outline: none;
            }
          }
        }
        .group-search{
          background-color: #0003;
          padding: 20px 30px;
          border-radius: 10px;
          border: 2px solid #007dcc;
          .title-1{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 16px;
            text-decoration: underline;
            text-decoration-color: #007dcc;
            h4{
              font-size: 24px;

            }
            .btn-reset{
              font-size: 14px;
              color: #fff;
              text-decoration: underline;
              text-decoration-color: #007dcc;
              &:hover{
                color: #ffe402;
              }
            }
          }
        }
        .item-group-search{
          .title{
            font-size: 18px;
            margin-bottom: 16px;
            &:before{
              content: '';
              display: inline-block;
              background: url("../images/market/icon-title.png") 0/100% no-repeat;
              width: 9px;
              height: 13px;
              margin-right: 4px;
            }
          }
          .box-checktype{
            display: flex;
            .group-container{
              width: 50%;
            }
          }
        }
        .item-ranger{
          display: flex;
          margin-bottom: 8px;
          &:last-child{
            margin-bottom: 0;
          }
          label{
            width: 100px;
            float: left;
            margin-bottom: 0;
            font-size: 18px;
            line-height: 2.5;
          }
          .ranger-box{
            flex: 1;
            position: relative;
            height: 45px;
            &:before{
              display: block;
              content: '';
              width: 14px;
              height: 14px;
              background-color: #00f0ff;
              border-radius: 50%;
              position: absolute;
              left: 0;
              top: 50%;
              margin-top: -3px;
            }
          }
        }
        @media only screen and (max-width: 1024px) {
          width: 100%;
          margin-right: 0;
          margin-top: 20px;
          .search{
            background-color: transparent;
            border: none;
            input{
              background: url("../images/market/icon-search.png") top 50% right 15px no-repeat #0003;
              border: 2px solid #007dcc;
              border-radius: 20px;
              height: 50px;
            }
            .btn-search{
              display: block;
              background: #30b3db;
              width: auto;
              height: 50px;
              border-radius: 20px;
              border: none;
              margin-left: 12px;
              cursor: pointer;
              padding: 0 24px;
              &:before{
                display: block;
                content: 'Filter';
                color: #fff;
                font-size: 18px;
              }
              &:focus{
                outline: none;
              }
            }
          }
          .group-search{
            .item-group-search{
              margin-bottom: 20px;
              .d-group-price{
                display: flex;
                .group-container{
                  width: 50%;
                }
              }
            }
          }
        }
        @media only screen and (max-width: 639px) {
          .group-search{
            padding: 20px;
            .title-1{
              h4{
                font-size: 18px;
              }

            }
          }
          .item-group-search{
            .title{
              font-size: 16px;
            }
          }
          .item-ranger{
            .title{
              font-size: 14px;
            }
            label{
              font-size: 16px;
              margin-top: 5px;
            }
          }
        }
      }
      .main-right{
        flex: 1;
        .label-result{
          display: flex;
          align-items: flex-end;
          font-size: 22px;
          margin-bottom: 1rem;
          height: 50px;
          h4{
            font-size: 36px;
            margin-right: 6px;
          }
        }
        .lst-pool-result{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          .item-pool-result{
            width: calc((100% - 20px)/2);
            height: 132px;
            margin-bottom: 1rem;
            background-color: #0003;
            padding: 30px;
            border-radius: 10px;
            border: 2px solid #007dcc;
            :nth-child(odd){
              margin-right: 20px;
            }
            &:hover{
              border: 2px solid #00f0ff;
              box-shadow: 0 0 4px #fff;
            }
            .info-item{
              display: flex;
              justify-content: space-between;
              align-items: center;
              color: #ffff;
              span{
                &:first-child{
                  color: #ffe402;
                }
              }
            }
          }
        }
        .pagination{
          justify-content: center;
          padding: 20px 0;
          li{
            a{
              background-color: transparent;
              border: none;
              color: #fff;
              font-size: 14px;
              margin: 0 4px;
              border-radius: 5px;
              width: 36px;
              height: 36px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .arr-prev{
              text-indent: -999em;
              &:before{
                display: block;
                content: '';
                background: url("../images/market/btn-prev.png") 0/100% no-repeat;
                width: 10px;
                height: 16px;
              }
            }
            .arr-next{
              text-indent: -999em;
              &:before{
                display: block;
                content: '';
                background: url("../images/market/btn-prev.png") 0/100% no-repeat;
                transform: rotate(180deg);
                width: 10px;
                height: 16px;
              }
            }
            &:hover, &.active{
              a{
                background-color: #013a70;

              }
            }
          }
        }
        @media only screen and (max-width: 1024px) {
          width: 100%;
          margin-top: 20px;
          .lst-pool-result{
            .item-pool-result{
              width: 100%;
              height: auto;
            }
          }
        }
        @media only screen and (max-width: 639px) {
          .label-result{
            font-size: 16px;
            h4{
              font-size: 20px;
            }
          }
          .lst-pool-result{
            .item-pool-result{
              padding: 20px;
            }
          }
        }
      }
      .item-detail-pool{
        display: flex;
        flex-wrap: wrap;
        padding:0 20px 20px;
        .images-pool{
          display: flex;
          text-align: center;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 130px;
          padding: 20px 10px;
          margin-right: 20px;
          color: #ffe402;
          background-color: #0003;
          border-radius: 10px;
          border: 2px solid #007dcc;
          .img{
            display: block;
            margin-top: 10px;
            animation: mirrorflip 5s 0s linear infinite;
          }
          @keyframes mirrorflip {
            0% {
              transform: scale(1, 1);
              -webkit-transform: scale(1, 1);
              -moz-transform: scale(1, 1);
              -o-transform: scale(1, 1);
              -ms-transform: scale(1, 1);
              
            }
            50% {
              transform: scale(-1, 1);
              -webkit-transform: scale(-1, 1);
              -moz-transform: scale(-1, 1);
              -o-transform: scale(-1, 1);
              -ms-transform: scale(-1, 1);
            }
            100% {
              transform: scale(1, 1);
              -webkit-transform: scale(1, 1);
              -moz-transform: scale(1, 1);
              -o-transform: scale(1, 1);
              -ms-transform: scale(1, 1);
            }
          }
        }
        .main-pool-detail{
          width: calc(100% - 150px);
          .detail-pool-top{
            padding:20px;
            background-color: #0003;
            border-radius: 10px;
            border: 2px solid #007dcc;
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            .btn-buynow{
              display: flex;
              align-items: center;
              padding: 0 55px;
              height: 55px;
              background-image: linear-gradient(to right, #0dccff , #4761ff);
              border-radius: 26px;
              color: #fff;
              font-size: 22px;
            }
          }
          .detail-item-pool{
            margin-bottom: 20px;
            .title{
              margin-bottom: 20px;
            }
            .detail-pool{
              padding:20px 50px;
              background-color: #0003;
              border-radius: 10px;
              border: 2px solid #007dcc;
              .lst-progress{
                margin-top: 10px;
                li{
                  display: flex;
                  align-items: center;
                  height: 50px;
                }
                .label-title{
                  width: 100px;
                  margin-right: 10px;
                }
                .progress{
                  flex: 1;
                  max-width: 200px;
                  height: 9px;
                  background-color:#0a2c51;
                  border-radius: 5px;
                }
                .progress-bar{
                  background-image: linear-gradient(to right, #64fdff , #25a4d2);
                  border-radius: 5px;
                }
              }
            }
            .detail-pool-history{
              padding:10px 20px;
              background-color: #0003;
              border-radius: 10px;
              border: 2px solid #007dcc;
              .table-responsive{
                max-height: 220px;

                table{
                  th{
                    border-bottom: 1px solid #fff;
                  }
                  td, th{
                    border-top: none;
                    text-align: center;
                    a{
                      display: block;
                      color: #62f9fd;
                      text-decoration: underline;
                    }
                  }
                }
              }
            }
          }
        }
        @media only screen and (max-width: 1024px) {
          padding: 15px;
          .main-pool-detail{
            .detail-item-pool{
              .detail-pool{
                padding:20px;
              }
              .detail-pool-history{
                padding:10px;
                .table-responsive{
                  table{
                    td, th{
                      padding: 6px;
                    }
                  }
                }
              }
            }
          }
        }
        @media only screen and (max-width: 639px) {
          .images-pool{
            width: 60px;
            margin-right: 10px;
          }
          .main-pool-detail{
            width: calc(100% - 70px);
            .detail-pool-top{
              align-items: center;
              .text-price{
                span{
                  color: #ffe402;
                }
              }
              .btn-buynow{
                padding: 0 25px;
                height: 40px;
                border-radius: 20px;
                font-size: 18px;
              }
            }
            .detail-item-pool{
              .detail-pool{
                .lst-progress{
                  li{
                    height: 40px;
                  }
                }
              }
              .detail-pool-history{
                .table-responsive{
                  max-height: 250px;
                }
              }
            }
          }
        }
      }
      .lst-poolbox{
        display: flex;
        justify-content: space-between;
        margin: 0 160px;
        .item-poolbox{
          width: 415px;
          height: 510px;
          background-color: #0003;
          border-radius: 10px;
          border: 2px solid #007dcc;
          color: #fff;
          &:hover{
            border: 2px solid #00f0ff;
            box-shadow: 0 0 4px #fff;
          }
          .img{
            display: block;
            width: 100%;
            img{
              width: 100%;
            }
          }
          .info-detail-box{
            padding: 0 20px 20px;
            .name-box{
              display: flex;
              align-items: center;
              justify-content: center;
              background: url("../images/market/name-box.png") 0/100% no-repeat;
              width: 301px;
              height: 52px;
              max-width: 100%;
              color: #fff;
              text-transform: uppercase;
              font-size: 24px;
              text-shadow: 2px 0px 6px #a4d2d7;
              margin: 0 auto 16px;
            }
            .price-box{
              display: flex;
              align-items: center;
              background-image: linear-gradient(to right, #0dcbff , #4661ff);
              width: 233px;
              height: 55px;
              padding: 0 25px;
              border-radius: 26px;
              margin: 0 auto 4px;
              position: relative;
              overflow: hidden;
              &:after{
                display: block;
                content: '';
                background-image: linear-gradient(#ffffffbd, #ffffff0a);
                box-shadow: 0 0 6px 0 #fff;
                width: 100%;
                height: 3px;
                transform: rotate(-45deg);
                position: absolute;
                top: 0;
                animation: lightBox 1s linear infinite;
              }
              &:before{
                display: block;
                content: '';
                background: url("../images/market/img-coin.png") 0/100% no-repeat;
                width: 36px;
                height: 40px;
                margin-right: 8px;
              }
              .info-price{
                flex: 1;
                display: flex;
                flex-direction: column;
                line-height: 1;
                font-size: 22px;
                small{
                  font-size: 14px;
                  margin-left: 6px;
                }
              }
            }
            .time-box{
              font-size: 14px;
              display: flex;
              justify-content: center;
              align-items: center;
              span{
                color: #f3c910;
                display: inline-block;
                margin-left: 4px;
              }
            }
          }
        }
        @media only screen and (max-width: 1024px) {
          margin: 0 15px;
          flex-wrap: wrap;
          .item-poolbox{
            width: 100%;
            height: auto;
            margin: 15px;
          }
        }
        @media only screen and (max-width: 639px) {
          margin: 0;
          .item-poolbox{
            margin: 15px 0;
            .info-detail-box{
              padding: 0 10px 10px;
            }
          }
        }
      }
      .detail-poolbox{
        padding: 0 40px 40px;
        .main-info-poolbox{
          .name-box{
            display: flex;
            align-items: center;
            justify-content: center;
            background: url("../images/market/name-box.png") 0/100% no-repeat;
            width: 301px;
            max-width: 100%;
            height: 52px;
            margin: -50px auto 20px;
            text-shadow: 2px 0px 6px #a4d2d7;
          }
          .box-detail-box{
            width: 100%;
            display: flex;
            background-color: #0003;
            border-radius: 10px;
            border: 2px solid #007dcc;
            .box-product{
              padding: 20px 60px;
              .img{
                display: block;
                img{
                  width: 100%;
                }
              }
              .price{
                width: 100%;
                background-color: #0a2c51;
                height: 58px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                &:before{
                  display: block;
                  content: '';
                  background: url("../images/market/img-coin.png") 0/100% no-repeat;
                  width: 36px;
                  height: 40px;
                }
                span{
                  display: block;
                  font-size: 22px;
                  margin: 0 12px;
                }
                small{
                  font-size: 14px;
                }
              }
              .btn-purchase{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 230px;
                height: 55px;
                background-image: linear-gradient(to right, #0dccff, #4761ff);
                border-radius: 26px;
                color: #fff;
                margin: 0 auto;
                &:hover{
                  color: #ffe402;
                }
              }
            }
            .box-info-product{
              flex: 1;
              max-width: 100%;
              padding: 30px 30px 30px 0;
              .box-info-product-detail{
                margin-bottom: 16px;
                background-color: #06428cb3;
                border-radius: 10px;
                overflow: hidden;
                .title{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  height: 47px;
                  background-color: #0639849e;
                  .number{
                    color: #37d1ff;
                    display: inline-block;
                    margin-left: 6px;
                  }
                }
                .lst-perform-pool{
                  margin: 20px 30px;
                  padding-bottom: 20px;
                  display: flex;
                  justify-content: space-between;
                  .item-perform{
                    width: 48%;
                    background-color: #062d73;
                    border-radius: 10px;
                    overflow: hidden;
                    h5{
                      width: 100%;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      background-color: #416bff;
                      height: 36px;
                      color: #fff;
                      font-size: 18px;

                    }
                    .lst-perform{
                      padding: 10px 20px;
                      li{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 10px 0;
                        color: #fff;
                        font-size: 14px;
                      }
                    }
                  }
                }
                .lst-poolbox-detail{
                  width: 100%;
                  height: 240px;
                  overflow: auto;
                  padding-right: 6px;
                  .item{
                    width: 100%;
                    padding: 10px 30px;
                    background-color: #0a1c5f;
                    border-radius: 10px;
                    border: 2px solid #007dcc;
                    margin-bottom: 2px;
                    label{
                      color: #ffe402;
                      font-size: 12px;
                      margin-bottom: 0;
                    }
                    .img-2{
                      display: block;
                      width: 100%;
                      img{
                        width: 100%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .counter-main{
          width: 100%;
          background-color: #0a2c51;
          height: 58px;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 8px;
          margin: 10px auto 20px;
          .btn-action{
            background-color: #416bff;
            width: 60px;
            height: 43px;
            cursor: pointer;
            border-radius: 10px;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 30px;
            &:hover, &:focus{
              color: #ffe402;
            }
          }
          .input-number{
            flex: 1;
            height: 100%;
            background-color: transparent;
            border: none;
            font-size: 26px;
            color: #fff;
            padding: 0;
            text-align: center;
            &:focus{
              outline: none;
            }
          }
        }
        @media only screen and (max-width: 1024px) {
          padding: 0;
          .main-info-poolbox{
            .name-box{
              margin: 0 auto 20px;
            }
            .box-detail-box{
              flex-wrap: wrap;
              background-color: transparent;
              border: none;
              .box-product{
                background-color: #0003;
                border: 2px solid #007dcc;
                border-radius: 10px;
                width: 100%;

              }
              .box-info-product{
                padding: 20px 0;
                .box-info-product-detail{
                  .lst-poolbox-detail{
                    height: 295px;
                  }
                }
              }
            }
          }
        }
        @media only screen and (max-width: 639px) {
          .main-info-poolbox{
            .box-detail-box{
              .box-product{
                padding: 20px;
                .price{
                  height: 40px;
                  &:before{
                    width: 30px;
                    height: 40px;
                    span{
                      font-size: 18px;
                    }
                  }
                }
                .btn-purchase{
                  height: 40px;
                }
              }
              .box-info-product{
                .box-info-product-detail{
                  .lst-perform-pool{
                    margin: 10px 10px 0;
                    padding-bottom: 0px;
                    flex-wrap: wrap;
                    .item-perform{
                      width: 100%;
                      margin-bottom: 10px;
                    }
                  }
                }
              }
            }
          }
          .counter-main{
            height: 40px;
            padding: 3px;
            .btn-action{
              width: 34px;
              height: 34px;
              line-height: 1;
            }
            .input-number{
              flex: auto;
              width: calc(100% - 100px);
            }
          }
        }
      }
    }
  }
}

.group-container {
  display: block;
  position: relative;
  padding-left: 32px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @media only screen and (max-width: 639px) {
    font-size: 16px;
  }
}

/* Hide the browser's default checkbox */
.group-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 6px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.group-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.group-container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 7px;
  height: 12px;
  border: solid #00f0ff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
//style ranger filter
.irs--flat .irs-line{
  height: 3px;
  background-color: #0000007d;
}
.irs--flat .irs-bar{
  background-color: #00f0ff;
  height: 3px;
}
.irs--flat .irs-handle{
  //background-color: #00f0ff;ffff
  width: 14px;
  height: 14px;
  border-radius: 50%;
  top:20px;
  background-color: #00f0ff!important;
  &:hover{
    i:first-child{
      background-color: #ffffff6b!important;
    }
  }
  i:first-child{
    width: 26px;
    height: 26px;
    top: 50%;
    margin-top: -13px;
    left: 50%;
    margin-left: -13px;
    border-radius: 50%;
    background-color: #ffffff24!important;
  }
}
.irs--flat .irs-min, .irs--flat .irs-max{
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  font-family: "UTM Hanzel";
}
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single{
  background-color: #00f0ff57;
}
.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before{
  border-top-color: #00f0ff57;
}
.irs-from, .irs-to, .irs-single{
  top: -5px;
}
.scroll-bar{
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #0a2c51;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #38d7ff;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #007dcc;
  }
}
//popup
.modal-dialog{
  width: 333px;
  margin: 0 auto;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .modal-content{
    background-color: #042f7a;
    padding: 30px;
    border-radius: 10px;
  }
  .btn-close{
    display: block;
    background: url("../images/market/btn-close.png") 0/100% no-repeat;
    width: 16px;
    height: 15px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: all 3s ease;
    &:hover{
      transform: scale(1.1);
    }
  }
  .box-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    a{
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      height: 45px;
      width: 126px;
      font-size: 14px;
      border-radius: 25px;
      cursor: pointer;
      &:hover{
        color: #ffe402;
      }
    }
    .btn-cancel{
      background-color: #c13467;
    }
    .btn-connect{
      background-color: #416bff;
    }
  }
  .main-wallet{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    .icon-wallet{
      display: flex;
     width: 76px;
      height: 76px;
      border-radius: 50%;
      background: url("../images/market/icon-wallet.png") 50% 50% no-repeat #022156;
      margin-bottom: 10px;
    }
    .title{
      font-size: 18px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    p{
      font-size: 14px;
    }
    .price-box{
      height: 44px;
      background-color: #416bff;
      border-radius: 10px;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      padding: 0 15px;
      margin-bottom: 32px;
    }
    .lst-info-checkout{
      width: 100%;
      margin-bottom: 20px;
      li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 6px 0;
      }
    }
    .text-note{
      width: 100%;
      display: flex;
      align-items: center;
      padding: 10px 15px;
      background-color: #c13467;
      border-radius: 10px;
      margin-bottom: 20px;
      font-size: 12px;
      &:before{
        display: block;
        content: '';
        background: url("../images/market/icon-warning.png") 0/100% no-repeat;
        width: 18px;
        height: 18px;
        margin-right: 8px;
      }
      span{
        flex: 1;
      }
    }
  }
}