@function vwh($target) {
  $vw-context: (1920 * 0.01) * 1px;   @return ($target / $vw-context) * 1vw;
}
@function vw($target) {
  $vw-context: (1366 * 0.01) * 1px;   @return ($target / $vw-context) * 1vw;
}
@function vwm($target) {
  $vw-context: (1024 * 0.01) * 1px;   @return ($target / $vw-context) * 1vw;
}
@font-face {
  font-family: "UTM Hanzel";
  src: url("../font/UTM-Hanzel.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "UTM NguyenHa 02";
  src: url("../font/UTM-NguyenHa-02.ttf") format("truetype");
  font-display: swap;
}
@keyframes lightBox {
  from {
    left: -50px;
  }
  to {
    left: 100%;
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
@keyframes headShake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  6.5% {
    -webkit-transform: translateX(-6px) rotateY(-9deg);
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    -webkit-transform: translateX(5px) rotateY(7deg);
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    -webkit-transform: translateX(-3px) rotateY(-5deg);
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    -webkit-transform: translateX(2px) rotateY(3deg);
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.animate__headShake {
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: headShake;
  animation-name: headShake;
}
.fixCen{
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  @media only screen and (max-width: 1365px) {
    max-width: vwh(1200px);
  }
  @media only screen and (max-width: 1023px) {
    max-width: 100%;
  }
}
.rs{
  padding: 0;
  margin: 0;
  list-style: none;
}
body{
  padding: 0;
  margin: 0;
}
a{
  &:hover{
    text-decoration: none;
  }
}
.p-main{
  padding: 20px 80px;
  @media only screen and (max-width: 1365px) {
    padding: vwh(20px) vwh(80px);
  }
  @media only screen and (max-width: 1023px) {
    padding: vwm(20px) vwm(192px);
  }
}
.wrapper-home{
  width: 100%;
  overflow: hidden;
  font-size: 16px;
  color: #fff;
  font-family: "UTM Hanzel",sans-serif;
  @media only screen and (max-width: 1023px) {
    font-size: vwm(24px);
  }
  .header{
    background: url("../images/home/line-header.png") 50% 100% #0000009e no-repeat;
    height: 62px;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 9;
    font-size: 18px;
    .icon-menu{
      display: none;
    }
    .inner-header{
      display: flex;
      align-items: center;
    }

    .btn-playnow{
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffff;
      width: 164px;
      height: 40px;
      border-radius: 20px;
      position: absolute;
      left: 50%;
      margin-left: -82px;
      top: 50%;
      margin-top: -18px;
      background-image: linear-gradient(to right, #ffb001 , #ffed02);
      overflow: hidden;
      &:before{
        display: block;
        content: '';
        background-image: linear-gradient(#ffffffbd, #ffffff0a);
        box-shadow: 0 0 10px 0 #fff;
        width: 100%;
        height: 5px;
        transform: rotate(-45deg);
        position: absolute;
        top: 0;
        animation: lightBox 1s linear infinite;
      }
    }
    .lst-menu{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      li{
        list-style: none;
        a{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 164px;
          height: 40px;
          border: 1px solid #ffff;
          color: #fff;
          border-radius: 20px;
          &:hover{
            color: #ffb001;
            border: 1px solid #ffb001;
          }
        }
        &:nth-child(2){
          margin-right: 120px;
        }
        &:nth-child(3){
          margin-left: 120px;
        }
      }
    }
    @media only screen and (max-width: 1365px) {
      background-size: 100% auto;
      height: vwh(62px);
      font-size: vwh(18px);
      .fixCen{
        max-width: vwh(1200px);
      }
      .btn-playnow{
        width: vwh(164px);
        height: vwh(40px);
        border-radius: vwh(20px);
        margin-left: vwh(-82px);
        margin-top: vwh(-20px);
      }
      .lst-menu{
        li{
          a{
            width: vwh(164px);
            height: vwh(40px);
            border-radius: vwh(20px);
          }
          &:nth-child(2){
            margin-right: vwh(120px);
          }
          &:nth-child(3){
            margin-left: vwh(120px);
          }
        }
      }
    }
    @media only screen and (max-width: 1023px) {
      background-size:auto;
      height: 62px;
      font-size: 14px;
      .fixCen{
        max-width: 90%;
      }
      .btn-playnow{
        width: vwm(164px);
        height: vwm(40px);
        border-radius: vwm(20px);
        margin-left: vwm(-82px);
        margin-top: vwm(-20px);
      }
      .lst-menu{
        li{
          a{
            width: vwm(164px);
            height: vwm(40px);
            border-radius: vwm(20px);
          }
          &:nth-child(2){
            margin-right: vwm(120px);
            margin-left: 10px;
          }
          &:nth-child(3){
            margin-left: vwm(100px);
            margin-right: 10px;
          }
        }
      }
    }
    @media only screen and (max-width: 767px) {
      height: 50px;
      .btn-playnow{
        width: 120px;
        height: 36px;
        border-radius: 20px;
        right: 0;
        left: auto;
        margin-left: 0;
        top: 50%;
        margin-top: -18px;
      }
      .icon-menu{
        display: block;
        background: url("../images/home/icon-menu.png") 0/100% no-repeat;
        width: 35px;
        height: 35px;
        &.close{
          background: url("../images/home/icon-close.png") 0/100% no-repeat;
        }
      }
      .lst-menu{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color:#000000d4;
        top: 50px;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transform: translateX(-1000px);
        transition: all .5s ease;
        &.active{
          transform: translateX(0px);
        }
        li{
          width: 100%;
          border-bottom: 1px solid #ccc;
          &:last-child{
            border-bottom: 0;
          }
          a{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 35px;
            width: 100%;
            height: 40px;
            border: 0;
          }
          &:nth-child(2), &:nth-child(3){
            margin: 0;
          }
        }
      }
    }
  }
  .section-1{
    background: url("../images/home/bg-1.jpg") 50% 0 no-repeat;
    height: 950px;
    .logo{
      display: block;
      background: url("../images/home/logo.png") 0/100% no-repeat;
      width: 263px;
      height: 124px;
      position: absolute;
      top:70px;
      left: -160px;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      -webkit-animation-name: headShake;
      animation-name: headShake;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      @media only screen and (max-width: 1600px) {
        left: 0;
      }
    }
    .slogan{
      display: block;
      background: url("../images/home/slogan.png") 0/100% no-repeat;
      width: 842px;
      height: 232px;
      position: absolute;
      left: 50%;
      margin-left: -421px;
      top:96px;
    }
    .ball-bida{
      width: 153px;
      height: 153px;
      position: absolute;
      top: 65px;
      right: 50%;
      margin-right: -300px;
      &:before{
        content: '';
        display: block;
        background: url("../images/bida.png") 0/100% no-repeat;
        width: 71px;
        height: 71px;
        position: absolute;
        top: 50%;
        margin-top: -35px;
        left: 50%;
        margin-left: -35px;
        z-index: 2;
        animation: zoomIn 2s linear infinite;
      }
      &:after{
        content: '';
        display: block;
        background: url("../images/bg-bida.png") 0/100% no-repeat;
        width: 153px;
        height: 153px;
        animation: rotating 5s linear infinite;
      }
  
    }
    @media only screen and (max-width: 1365px) {
      background-size: 100% auto;
      height: vwh(950px);
      .logo{
        width: vwh(263px);
        height: vwh(124px);
        top:vwh(70px);
        left: 0;
      }
      .slogan{
        width: vwh(842px);
        height: vwh(232px);
        margin-left: vwh(-421px);
        top:vwh(96px);
      }
      .ball-bida{
        width: vwh(153px);
        height: vwh(153px);
        top: vwh(65px);
        margin-right: vwh(-300px);
        &:before{
          width: vwh(71px);
          height: vwh(71px);
          margin-top: vwh(-35px);
          margin-left: vwh(-35px);
        }
        &:after{
          width: vwh(153px);
          height: vwh(153px);
        }
      }
    }
    @media only screen and (max-width: 1023px) {
      background: url("../images/home/bg-1mb.jpg") 0/100% no-repeat;
      width: vwm(1024px);
      height: vwm(892px);
      margin-top: 62px;
      .logo{
        width: vwm(263px);
        height: vwm(124px);
        top:0;
        left: 50%;
        margin-left: vwm(-131px);
      }
      .slogan{
        width: vwm(640px);
        height: vwm(180px);
        margin-left: vwm(-320px);
        top:vwm(140px);
      }
      .ball-bida{
        width: vwm(120px);
        height: vwm(120px);
        top: vwm(100px);
        margin-right: vwm(-250px);
        &:before{
          width: vwm(70px);
          height: vwm(70px);
          margin-top: vwm(-35px);
          margin-left: vwm(-35px);
        }
        &:after{
          width: vwm(120px);
          height: vwm(120px);
        }
      }
    }
    @media only screen and (max-width: 767px) {
      margin-top: 50px;
    }
  }
  .main{
    background: url("../images/home/bg-main.jpg") 50% 0 no-repeat;
    height: 3050px;
    .title{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 65px;
      font-size: 28px;
      margin: 0 auto;
      color: #fff;
      text-shadow: 2px 0px 6px #a4d2d7;
    }
    .title-4{
      background: url("../images/home/bg-title-4.png") 0/100% no-repeat;
      width: 574px;
    }
    .box-about{
      height: 780px;
      padding-top: 180px;
      .title{
        background: url("../images/home/bg-title-1.png") 0/100% no-repeat;
        width: 440px;
      }
      .main-detail{
        display: flex;
        padding: 30px 100px;
        .img-cup{
          width: 317px;
          margin-left: 20px;
          img{
            width: 100%;
            animation: brightlight 1.5s linear infinite;
          }
          @keyframes brightlight {
            from {
              filter: brightness(1) drop-shadow(0px 0px 5px yellow);
            }
            50%{
              filter: brightness(1.5) drop-shadow(0px 0px 15px rgb(168, 168, 91));
            }
            to {
              filter: brightness(1) drop-shadow(0px 0px 5px yellow);
            }
          }
        }
        .info-detail{
          flex: 1;
          color: #fff;
          font-size: 16px;
          p{
            &::before{
              display: inline-block;
              content: '';
              background: url("../images/home/icon-bullet.png") 0/100% no-repeat;
              width: 11px;
              height: 12px;
              margin-right: 4px;
            }
          }
        }
      }
    }
    .box-roadmap{
      .title{
        background: url("../images/home/bg-title-2.png") 0/100% no-repeat;
        width: 279px;
      }
      .box-progress-map{
        display: flex;
        justify-content: space-between;
        position: relative;
        .bar-bida{
          display: block;
          background: url("../images/home/gay.png") 0/100% no-repeat;
          width: 1000px;
          height: 20px;
          position: absolute;
          top: 90px;
          left: 50%;
          margin-left: -2500px;
          transition: 2.5s all ease;
        }
        .item-map{
          width: 30%;
          position: relative;
          &:before{
            display: block;
            content: "";
            background: url("../images/home/dot-icon.png") 0/100% no-repeat;
            width: 55px;
            height: 55px;
            position: absolute;
            top: 70px;
            left: 50%;
            margin-left: -28px;
            opacity: 0;

          }
          .title{
            background: url("../images/home/bg-title-5.png") 0/100% no-repeat;
            width: 238px;
            height: 56px;
            font-size: 24px;
            margin: 20px auto 50px;
            filter: grayscale(100%);
            transition: 3s all ease;
          }
        }
        &.active{
          .bar-bida{
            margin-left: -500px;
          }
          .item-map{
            &:before{
              background: url("../images/home/dot-icon-active.png") 0/100% no-repeat;
              opacity: 1;
              top: 70px;
              animation: fadeIn 1s linear infinite;
            }
          }
          .title{
            filter: grayscale(0);
          }
        }
      }
    }
    .box-token{
      height: 550px;
      position: relative;
      .title{
        background: url("../images/home/bg-title-3.png") 0/100% no-repeat;
        width: 392px;
      }
      .box-pie{
        width: 600px;
        display: flex;
        justify-content: flex-end;
        position: relative;
        margin-left: 250px;
        margin-top: 30px;
        #do_legend{
          padding: 0;
          margin: 0;
          position: absolute;
          top: 0;
          left: -250px;
          ul{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 380px;
            padding: 0;
            margin: 0;
            li{
              margin-bottom: 10px;
              background: url("../images/home/bg-token.png") 0/100% no-repeat;
              width: 181px;
              height: 78px;
              display: flex;
              align-items: center;
              position: relative;
              overflow: hidden;
              padding: 0 10px;
              span{
                background-color: transparent!important;
                font-size: 16px;
                line-height: 1.4;
              }
              small{
                font-size: 12px;
                display: block;
              }
            }
          }
        }
        .box-canvas{
          position: relative;
          width: 100%;
          height: 100%;
          margin-top: 50px;
          &:before{
            display: block;
            content: '';
            background: url("../images/home/bida.png") 0/100% no-repeat;
            width: 185px;
            height: 185px;
            position: absolute;
            top: 50%;
            margin-top: -93px;
            left: 50%;
            margin-left: -93px;
            animation: zoomIn 2s linear infinite;
          }
          canvas{
            width: 100%;
            height: 100%;
            position: relative;
            top: 0;
            left: 0;
            z-index: 9;
          }
        }
      }
      .lst-info-token{
        width: 250px;
        position: absolute;
        right: 80px;
        top: 50%;
        margin-top: -120px;
        .item{
          border-left: 3px solid #00f6ff;
          padding-left: 12px;
          color: #fff;
          margin-bottom: 25px;
          line-height: 1;
          label{
            font-size: 12px;
            color: #fff;
            margin-bottom: 8px;
          }
        }
        .active{
          color: #fcfa03;
        }
      }
      @media only screen and (max-width: 1365px) {
        height: vwh(550px);
        .title{
          width: vwh(392px);
        }
        .box-pie{
          width: vwh(600px);
          margin-left: vwh(250px);
          margin-top: vwh(30px);
          #do_legend{
            left: vwh(-250px);
            ul{
              width: vwh(380px);
              li{
                margin-bottom: vwh(10px);
                width: vwh(181px);
                height: vwh(78px);
                span{
                  font-size: vwh(18px);
                }
                small{
                  font-size: vwh(14px);
                }
              }
            }
          }
          .box-canvas{
            margin-top: vwh(50px);
            &:before{
              width: vwh(185px);
              height: vwh(185px);
              margin-top: vwh(-93px);
              margin-left: vwh(-93px);
            }
          }
        }
        .lst-info-token{
          width: vwh(250px);
          right: vwh(80px);
          margin-top: vwh(-120px);
          .item{
            border-left: vwh(3px) solid #00f6ff;
            padding-left: vwh(12px);
            margin-bottom: vw(25px);
            font-size: vwh(16px);
            label{
              font-size: vwh(12px);
              margin-bottom: vwh(8px);
            }
          }
        }
      }
    }
    .box-team{
      height: 650px;
      .main-team{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 30px;
        .img-group-ball{
          display: block;
          background: url("../images/home/box-ball.png") 0/100% no-repeat;
          width: 450px;
          height: 380px;
          transition: 2s all ease;
          transform: translateX(2500px) scaleX(-1);
          &.active{
            transform: translateX(0) scaleX(1);
          }
        }
        .lst-team{
          width: 570px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          li{
            list-style: none;
            margin-bottom: 20px;
            .item-team{
              background: url("../images/home/bg-name.png") 0/100% no-repeat;
              width: 275px;
              height: 117px;
              display: flex;
              padding: 10px;
              opacity: 0;
              transition: 1s all ease;
              transform: translateX(-100px);
              color: #fff;
              .avatar-user{
                display: block;
                width: 90px;
                height: 90px;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 8px;
                img{
                  width: 100%;
                  transition: .3s all ease;
                }
              }
              .info-team{
                flex: 1;
                line-height: 1.4;
                .name{
                  color: #00f6ff;
                  font-size: 21px;
                }
                .team-position{
                  font-family: "UTM NguyenHa 02",sans-serif;
                  font-size: 18px;
                }
                .description{
                  font-family: "UTM NguyenHa 02",sans-serif;
                  font-size: 14px;
                }
              }
              &:hover{
                .avatar-user{
                  img{
                    transform: scale(1.1);
                  }
                }
                .info-team{
                  .name{
                    color: #ea7a0c;
                  }
                }
              }
            }
          }
          &.active{
            li{
              .item-team{
                opacity: 1;
                transform: translateX(0px);
              }
              //&:nth-child(3){
              //  .item-team{
              //    transition-delay: 0.5s;
              //  }
              //}
              //&:nth-child(4){
              //  .item-team{
              //    transition-delay:1s;
              //  }
              //}
              //&:nth-child(5){
              //  .item-team{
              //    transition-delay: 1.5s;
              //  }
              //}
              //&:nth-child(6){
              //  .item-team{
              //    transition-delay: 2s;
              //  }
              //}
              //&:nth-child(7){
              //  .item-team{
              //    transition-delay: 2.5s;
              //  }
              //}
              //&:nth-child(8){
              //  .item-team{
              //    transition-delay: 3s;
              //  }
              //}
            }
          }
        }
      }
    }
    .box-partner{
      height: 450px;
      .lst-partner{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        a{
          display: block;
          margin: 15px;
          opacity: 0;
          transition: all 1s ease;
          &:hover{
            transform: scale(1.1);
            transition: all 0.1s ease;
            transition-delay: 0s;
          }
        }
        .pn-1{
          background: url("../images/home/p-1.png") 0/100% no-repeat;
          width: 121px;
          height: 95px;
          transition-delay: 1.5s;
        }
        .pn-2{
          background: url("../images/home/p-2.png") 0/100% no-repeat;
          width: 155px;
          height: 48px;
          transition-delay: 2s;
        }
        .pn-3{
          background: url("../images/home/p-3.png") 0/100% no-repeat;
          width: 160px;
          height: 46px;
          transition-delay: 2.5s;
        }
        .pn-4{
          background: url("../images/home/p-4.png") 0/100% no-repeat;
          width: 102px;
          height: 84px;
          transition-delay: 3s;
        }
        .pn-5{
          background: url("../images/home/p-5.png") 0/100% no-repeat;
          width: 163px;
          height: 55px;
          transition-delay: 3.5s;
        }
        .pn-6{
          background: url("../images/home/p-6.png") 0/100% no-repeat;
          width: 95px;
          height: 98px;
          transition-delay: 4s;
        }
        .pn-7{
          background: url("../images/home/p-7.png") 0/100% no-repeat;
          width: 232px;
          height: 53px;
          transition-delay: 1.5s;

        }
        .pn-8{
          background: url("../images/home/p-8.png") 0/100% no-repeat;
          width: 71px;
          height: 79px;
          transition-delay: 2s;

        }
        .pn-9{
          background: url("../images/home/p-9.png") 0/100% no-repeat;
          width: 197px;
          height: 36px;
          transition-delay: 2.5s;

        }
        .pn-10{
          background: url("../images/home/p-10.png") 0/100% no-repeat;
          width: 74px;
          height: 86px;
          transition-delay: 3s;

        }
        .pn-11{
          background: url("../images/home/p-11.png") 0/100% no-repeat;
          width: 208px;
          height: 66px;
          transition-delay: 3.5s;

        }
        .pn-12{
          background: url("../images/home/p-12.png") 0/100% no-repeat;
          width: 140px;
          height: 50px;
          transition-delay: 1.5s;

        }
        .pn-13{
          background: url("../images/home/p-13.png") 0/100% no-repeat;
          width: 151px;
          height: 52px;
          transition-delay: 2s;

        }
        .pn-14{
          background: url("../images/home/p-14.png") 0/100% no-repeat;
          width: 166px;
          height: 32px;
          transition-delay: 2.5s;

        }
        .pn-15{
          background: url("../images/home/p-15.png") 0/100% no-repeat;
          width: 164px;
          height: 45px;
          transition-delay:3s;

        }
        .pn-16{
          background: url("../images/home/p-16.png") 0/100% no-repeat;
          width: 157px;
          height: 48px;
          transition-delay: 3.5s;

        }
        &.active{
           a{
             opacity: 1;
           }
        }

      }
    }
    @media only screen and (max-width: 1365px) {
      background-size: 100% auto;
      height: vwh(3050px);
      .title{
        height: vwh(65px);
        font-size: vwh(28px);
      }
      .title-4{
        width: vwh(574px);
      }
      .box-about{
        height: vwh(750px);
        padding-top: vwh(180px);
        .title{
          width: vwh(440px);
        }
        .main-detail{
          padding: vwh(30px) vwh(100px);
          .img-cup{
            width: vwh(317px);
            margin-left: vwh(20px);
          }
          .info-detail{
            height: vwh(480px);
            font-size: 14px;
            overflow: auto;
            p{
              &::before{
                width: vwh(11px);
                height: vwh(12px);
                margin-right: vwh(4px);
              }
            }
          }
        }
      }
      .box-roadmap{
        .title{
          width: vwh(279px);
        }
        .box-progress-map{
          .bar-bida{
            width: vwh(1000px);
            height: vwh(20px);
            top: vwh(90px);
            margin-left: vwh(-2500px);
          }
          .item-map{
            font-size: 12px;
            .lst-info{
              height: 9vw;
              overflow: auto;
            }
            &:before{
              width: vwh(55px);
              height: vwh(55px);
              top: vwh(70px);
              margin-left: vwh(-28px);
            }
            .title{
              width: vwh(238px);
              height: vwh(56px);
              font-size: vwh(24px);
              margin: vwh(20px) auto vwh(50px);
            }
          }
          &.active{
            .bar-bida{
              margin-left: vwh(-500px);
            }
            .item-map{
              &:before{
                top: vwh(70px);
              }
            }
          }
        }
      }
      .box-token{
        height: vwh(550px);
        .title{
          width: vwh(392px);
        }
      }
      .box-team{
        height: vwh(650px);
        .main-team{
          padding-top: vwh(30px);
          .img-group-ball{
            width: vwh(475px);
            height: vwh(411px);
          }
          .lst-team{
            width: vwh(570px);
            li{
              margin-bottom: vwh(20px);
              .item-team{
                width: vwh(275px);
                height: vwh(117px);
                padding: vwh(10px);
                transform: translateX(-5.2083333333vw);
                .avatar-user{
                  width: vwh(90px);
                  height: vwh(90px);
                  margin-right: vwh(8px);
                }
                .info-team{
                  line-height: vwh(18px);
                  .name{
                    font-size: vwh(21px);
                  }
                  .team-position{
                    font-size: vwh(18px);
                  }
                  .description{
                    font-size: vwh(14px);
                  }
                }
              }
            }
          }
        }
      }
      .box-partner{
        height:vwh(450px);
        .lst-partner{
          a{
            margin: vwh(15px);
          }
          .pn-1{
            width: vwh(121px);
            height: vwh(95px);
          }
          .pn-2{
            width: vwh(155px);
            height: vwh(48px);
          }
          .pn-3{
            width: vwh(160px);
            height: vwh(46px);
          }
          .pn-4{
            width: vwh(102px);
            height: vwh(84px);
          }
          .pn-5{
            width: vwh(163px);
            height: vwh(55px);
          }
          .pn-6{
            width: vwh(95px);
            height: vwh(98px);
          }
          .pn-7{
            width: vwh(232px);
            height: vwh(53px);
          }
          .pn-8{
            width: vwh(71px);
            height: vwh(79px);
          }
          .pn-9{
            width: vwh(197px);
            height: vwh(36px);
          }
          .pn-10{
            width: vwh(74px);
            height: vwh(86px);
          }
          .pn-11{
            width: vwh(208px);
            height: vwh(66px);
          }
          .pn-12{
            width: vwh(140px);
            height: vwh(50px);
          }
          .pn-13{
            width: vwh(151px);
            height: vwh(52px);
          }
          .pn-14{
            width: vwh(166px);
            height: vwh(32px);
          }
          .pn-15{
            width: vwh(164px);
            height: vwh(45px);
          }
          .pn-16{
            width: vwh(157px);
            height: vwh(48px);
          }
        }
      }
    }
    @media only screen and (max-width: 1023px) {
      background: url("../images/home/bg-main-mb.jpg") 0/100% no-repeat;
      height: vwm(5147px);
      .title{
        height: vwm(65px);
        font-size: vwm(20px);
      }
      .title-4{
        width: vwm(574px);
      }
      .box-about{
        padding-top: vwm(180px);
        height: vwm(1050px);
        .title{
          width: vwm(440px);
          margin-bottom: vwm(35px);
        }
        .main-detail{
          padding: vwm(30px) vwm(200px);
          .img-cup{
            display: none;
            width: vwm(317px);
            margin-left: vwm(20px);
          }
          .info-detail{
            height: vwm(730px);
            font-size: vwm(24px);
            overflow: hidden;
            p{
              &::before{
                width: vwm(11px);
                height: vwm(12px);
                margin-right: vwm(4px);
              }
            }
          }
        }
      }
      .box-roadmap{
        .title{
          width: vwm(279px);
          margin-bottom: vwm(45px);
        }
        .box-progress-map{
          flex-direction: column;
          align-items: flex-end;
          justify-content: flex-start;
          .bar-bida{
            transform: rotate(-90deg);
            width: vwm(800px);
            height: vwm(20px);
            top: 50%;
            margin-top: vwm(-20px);
            left: 20%;
            margin-left: 0;
          }
          .item-map{
            width: 90%;
            font-size: vwm(22px);
            margin-bottom: vwm(30px);
            .lst-info{
              height: auto;
            }
            &:before{
              width: vwm(55px);
              height: vwm(55px);
              top: 0;
              left: 0;
              margin-left: vwm(-65px);
            }
            .title{
              width: vwm(238px);
              height: vwm(56px);
              font-size: vwm(24px);
              margin:0 0 vwm(25px);
            }
          }
          &.active{
            .bar-bida{
              margin-left: vwm(-500px);
            }
            .item-map{
              &:before{
                top: 0;
              }
            }
          }
        }
      }
      .box-token{
        height: vwm(1262px);
        .title{
          width: vwm(392px);
        }
        .box-pie{
          width: vwm(640px);
          margin-left: 0;
          margin-top: vwm(30px);
          padding-top: vwm(650px);
          #do_legend{
            left: 0;
            top: 0;
            ul{
              width: vwm(640px);
              li{
                margin-bottom: vwm(10px);
                width: vwm(300px);
                height: vwm(150px);
                span{
                  font-size: vwm(28px);
                }
                small{
                  font-size: vwm(20px);
                }
              }
            }
          }
          .box-canvas{
            margin-top: vwm(150px);
            margin-right: -25%;
            &:before{
              width: vwm(185px);
              height: vwm(185px);
              margin-top: vwm(-93px);
              margin-left: vwm(-90px);
            }
          }
        }
        .lst-info-token{
          width: vwm(250px);
          right: auto;
          left: 20%;
          top: auto;
          bottom: 0;
          margin-top: vwm(-120px);
          .item{
            border-left: vwm(3px) solid #00f6ff;
            padding-left: vwm(12px);
            margin-bottom: vwm(25px);
            font-size: vwm(16px);
            label{
              font-size: vwm(12px);
              margin-bottom: vwm(8px);
            }
          }
        }
      }
      .box-team{
        height: vwm(900px);
        .main-team{
          padding-top: vwm(50px);
          .img-group-ball{
            display: none;
          }
          .lst-team{
            width: vwm(640px);
            li{
              margin-bottom: vwm(35px);
              .item-team{
                width: vwm(310px);
                height: vwm(140px);
                padding: vwm(10px);
                align-items: center;
                transform: translateX(-5.2083333333vw);
                .avatar-user{
                  width: vwm(90px);
                  height: vwm(90px);
                  margin-right: vwm(8px);
                }
                .info-team{
                  line-height: vwm(18px);
                  .name{
                    font-size: vwm(21px);
                  }
                  .team-position{
                    font-size: vwm(18px);
                  }
                  .description{
                    font-size: vwm(14px);
                  }
                }
              }
            }
          }
        }
      }
      .box-partner{
        height:vwm(450px);
        .lst-partner{
          a{
            margin: vwm(15px);
          }
          .pn-1{
            width: vwm(121px);
            height: vwm(95px);
          }
          .pn-2{
            width: vwm(155px);
            height: vwm(48px);
          }
          .pn-3{
            width: vwm(160px);
            height: vwm(46px);
          }
          .pn-4{
            width: vwm(102px);
            height: vwm(84px);
          }
          .pn-5{
            width: vwm(163px);
            height: vwm(55px);
          }
          .pn-6{
            width: vwm(95px);
            height: vwm(98px);
          }
          .pn-7{
            width: vwm(232px);
            height: vwm(53px);
          }
          .pn-8{
            width: vwm(71px);
            height: vwm(79px);
          }
          .pn-9{
            width: vwm(197px);
            height: vwm(36px);
          }
          .pn-10{
            width: vwm(74px);
            height: vwm(86px);
          }
          .pn-11{
            width: vwm(208px);
            height: vwm(66px);
          }
          .pn-12{
            width: vwm(140px);
            height: vwm(50px);
          }
          .pn-13{
            width: vwm(151px);
            height: vwm(52px);
          }
          .pn-14{
            width: vwm(166px);
            height: vwm(32px);
          }
          .pn-15{
            width: vwm(164px);
            height: vwm(45px);
          }
          .pn-16{
            width: vwm(157px);
            height: vwm(48px);
          }
        }
      }
    }
  }
  .footer{
    background: url("../images/home/bg-footer.jpg") 50% 0 no-repeat #232323;
    a:hover{
      display: block;
      color: #f37e0c!important;
    }
    .top-footer{
      display: flex;
      .item{
        width: 50%;
        padding: 30px 50px;
        .title{
          font-size: 34px;
          text-shadow: 2px 0px 6px #a4d2d7;
          margin-bottom: 30px;
          &:before{
            display: inline-block;
            content: "";
            background: url("../images/home/icon-bullet2.png") 0/100% no-repeat;
            width: 27px;
            height: 31px;
            margin-right: 2px;
          }
        }
        &:nth-child(1){
          ul{
            border-right: 2px solid #fff;
          }
        }
        ul{

          li{
            margin-bottom: 20px;
            a{
              color: #fff;
            }
          }
        }
      }
    }
    .bottom-footer{
      display: flex;
      font-family: "UTM NguyenHa 02",sans-serif;
      .box-images{
        .logo{
          display: block;
          background: url("../images/home/logo.png") 0/100% no-repeat;
          width: 220px;
          height: 100px;
          margin-bottom: 25px;
          -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
          -webkit-animation-name: headShake;
          animation-name: headShake;
          -webkit-animation-duration: 1s;
          animation-duration: 1s;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
        }
        .img-cup{
          display: block;
          background: url("../images/home/cup.png") 0/100% no-repeat;
          width: 176px;
          height: 288px;
          animation: brightlight 1.5s linear infinite;
        }
      }
      .box-info-bottom{
        flex:1;
        display: flex;
        justify-content: space-between;
        margin-left: 50px;
        .item-info{
          width: 30%;
          a{
            color: #fff;
          }
          .title{
            color: #f37e0c;
            margin-bottom: 30px;
          }
          ul{
            li{
              margin-bottom: 20px;
            }
          }
          .lst-app{
            width: 100%;
            display: flex;
            justify-content: space-between;
            a{
              display: inline-block;
              width: 112px;
              height: 35px;
            }
            .btn-appstore{
              background: url("../images/home/btn-ios.png") 0/100% no-repeat;
            }
            .btn-ggplay{
              background: url("../images/home/btn-android.png") 0/100% no-repeat;
            }
          }
        }
      }

    }
    .info-bottom-footer{
      height: 100px;
      border-top: 1px solid #fff;
      padding-top: 10px;
      font-family: "UTM NguyenHa 02",sans-serif;
      color: #fff;
      display: flex;
      justify-content: space-between;
      .lst-link{
        a{
          display: inline-block;
          color: #bb6511;
         margin: 0 20px;
        }
      }
    }
    @media only screen and (max-width: 1365px) {
      .fixCen{
        max-width: 1200px;
      }
    }
    @media only screen and (max-width: 1119px) {
      .fixCen{
        max-width: 100%;
        padding: 0 15px;
      }
    }
    @media only screen and (max-width: 1023px) {
      .top-footer{
        flex-wrap: wrap;
        .item{
          width: 100%;
          font-size: 14px;
          padding: 15px;
          .title{
            font-size: 20px;
            margin-bottom: 10px;
            &:before{
              width: 10px;
              height: 18px;
            }
          }
          &:nth-child(1){
            ul{
              border-right: 0;
            }
          }
        }
      }
      .bottom-footer{
        .box-images{
          display: none;
        }
        .box-info-bottom{
          margin-left: 0;
          flex-wrap: wrap;
          .item-info{
            width: 50%;
            font-size: 14px;
            padding: 15px;
            .title{
              margin-bottom: 15px;
              font-size: 18px;
            }
            &:last-child{
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              .title{
                width: 100%;
                display: block;
              }
              ul{
                flex: 1;
              }
              .lst-app{
                width: 112px;
                flex-direction: column;
                a{
                  margin-bottom: 10px;
                }
              }
            }
          }
        }
      }
      .info-bottom-footer{
        height: 60px;
        font-size: 10px;
      }
    }
  }
}


//css bóng trắng lăn
.ball-main-white{
  display: block;
  width: 79px;
  height: 79px;
  position: absolute;
  top: 253px;
  right: 20px;
  transition: all 1s ease;
  .ball-white-icon{
    display: block;
    content: "";
    background: url("../images/home/bi-white.png") no-repeat 0/100%;
    width: 79px;
    height: 79px;
  }
  &.moveLeft{
    animation: moveLeft 5s linear;
    &:before{
      animation: spin 2s linear infinite;
    }
  }
  @media only screen and (max-width: 1365px) {
    width: vwh(79px);
    height: vwh(79px);
    top: vwh(253px);
    right: vwh(20px);
    .ball-white-icon{
      width: vwh(79px);
      height: vwh(79px);
    }
  }
  @media only screen and (max-width: 1023px) {
    width: vwm(79px);
    height: vwm(79px);
    top: vwm(150px);
    right: vwm(150px);
    .ball-white-icon{
      width: vwm(79px);
      height: vwm(79px);
    }
  }
}
.box-scroll{
  position: absolute;
  bottom: 20px;
  width: 100%;
  margin: 1em auto 2em;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  filter: drop-shadow(0 10px 10px rgba(0,0,0,.8));
  .btn-play-video{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-color: #ff9500;
    border-radius: 50%;
    position: relative;
    color: #fff;
    &:after{
      position: absolute;
      content: "";
      top: -8px;
      right: -8px;
      bottom: -8px;
      left: -8px;
      animation: playbutton 1s infinite;
      border-radius: 50%;
      border: 1px solid #ff9500;
    }
  }
  .scroll-icon {
    font-size: 3em;
    animation: updown 2s linear infinite;
  }
  @media only screen and (max-width: 1023px) {
    bottom: 0;
  }
  @media only screen and (max-width: 767px) {
    font-size: 14px;
    .btn-play-video{
      padding: 0px;
      width: 40px;
      height: 40px;
    }
  }
}
@keyframes updown {
  0%,
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  90% {
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes playbutton {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}
/* Spinning the sphere using key frames */
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}
@keyframes moveLeft {
  from { transform: translate3d(0, 0, 0);}
  to { transform: translate3d(-1200px, 500px, 100px);}
}
@keyframes fadeIn {
  from { opacity: 0.5}
  50%{
    opacity: 1;
  }
  to { opacity: 0.5}
}

.a{
  width: vwm(100px);
}

.popup-video{
  background-color: transparent;
  box-shadow: none;
  width: 100%;
  height: 100%;
  margin: 0;
  max-height: 100%;
  .modal-dialog{
    max-width: 1140px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal-content{
    padding: 0;
    background-color: transparent;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  @media only screen and (max-width: 767px) {
    .modal-dialog{
      width: auto;
      max-width: 100%;
    }
  }
}