@font-face {
  font-family: "UTM Swiss 721 Black COndensed";
  src: url("../font/UTMSwiss721BlackCondensed.ttf") format("truetype");
  font-display: swap;
}
.fixCen{
  width: 100%;
  height: 100%;
  max-width: 1141px;
  margin: 0 auto;
  position: relative;
}
.rs{
  padding: 0;
  margin: 0;
  list-style: none;
}
body{
  padding: 0;
  margin: 0;
  //width: 100%;
  //overflow: hidden;
}
.parallax-wrapper{
  width: 100%;
  height: 100%;
  position: relative;
}
.wrapper-teaser{
  background: url("../images/bg2.jpg") 50% 0 no-repeat #000;
  background-size: auto 100%;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  font-family: "UTM Swiss 721 Black COndensed";
  @media only screen and (min-width: 1200px) and (max-height: 760px) {
    min-height: 760px; 
  }
  .layer {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 200ms ease-out;
  }
  .group-dolar{
    display: block;
    background: url("../images/coin.png") 0/100% no-repeat;
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -960px;
  }
  .logo{
    display: block;
    background: url("../images/logo.png") 0/100% no-repeat;
    width: 263px;
    height: 124px;
    position: absolute;
    left: 50%;
    margin-left: -131px;
    top: 10px;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: headShake;
    animation-name: headShake;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  @keyframes headShake {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    6.5% {
      -webkit-transform: translateX(-6px) rotateY(-9deg);
      transform: translateX(-6px) rotateY(-9deg);
    }

    18.5% {
      -webkit-transform: translateX(5px) rotateY(7deg);
      transform: translateX(5px) rotateY(7deg);
    }

    31.5% {
      -webkit-transform: translateX(-3px) rotateY(-5deg);
      transform: translateX(-3px) rotateY(-5deg);
    }

    43.5% {
      -webkit-transform: translateX(2px) rotateY(3deg);
      transform: translateX(2px) rotateY(3deg);
    }

    50% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  .animate__headShake {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: headShake;
    animation-name: headShake;
  }
  .count_down{
    position: absolute;
    top: 44%;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
    background: -webkit-linear-gradient(-86deg, #2871fa 5%, #424be7 53%, #6020d2 91%);
      -webkit-background-clip: text;
      -webkit-text-stroke: 6px transparent;
      color: #fff;
      .down{
        margin-right: 8px;
      }
    .time{
      font-size: 60px;
    }
    .text {
      font-size: 30px;
      margin-left: 8px;

    }
  }
  .box-social{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../images/bg-social.png") 0/100% no-repeat;
    width: 413px;
    height: 55px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -206px;
    a{
      display: block;
      margin: 0 20px;
      transition: all .3s ease;
      &:hover{
        transform: scale(1.3);
      }
    }
    .icon-b{
      background: url("../images/icon-b.png") 0/100% no-repeat;
      width: 28px;
      height: 28px;
    }
    .icon-telegram{
      background: url("../images/icon-telegram.png") 0/100% no-repeat;
      width: 27px;
      height: 23px;
    }
    .icon-game{
      background: url("../images/icon-game.png") 0/100% no-repeat;
      width: 33px;
      height: 26px;
    }
    .icon-twister{
      background: url("../images/icon-twister.png") 0/100% no-repeat;
      width: 31px;
      height: 25px;
    }
  }
  @keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .ball-bida{
    width: 153px;
    height: 153px;
    position: absolute;
    top: 26%;
    right: 177px;
    &:before{
      content: '';
      display: block;
      background: url("../images/bida.png") 0/100% no-repeat;
      width: 71px;
      height: 71px;
      position: absolute;
      top: 50%;
      margin-top: -35px;
      left: 50%;
      margin-left: -35px;
      z-index: 2;
    }
    &:after{
      content: '';
      display: block;
      background: url("../images/bg-bida.png") 0/100% no-repeat;
      width: 153px;
      height: 153px;
      animation: rotating 5s linear infinite;
    }

  }
  .bar-icon{
    display: block;
    background: url("../images/gay.png") 0/100% no-repeat;
    width: 600px;
    height: 12px;
    position: absolute;
    top: 37%;
    left: 50%;
    margin-left: -300px;
    animation: traiphai 1s linear infinite;
    z-index: 3;
  }
  @keyframes traiphai {
    0% {
     transform: translateX(-10px);
    }

    6% {
      transform: translateX(0);
    }
    100%{
      transform: translateX(-20px);
    }
  }
  .ball-2{
    display: block;
    width: 174px;
    height: 84px;
    position: absolute;
    bottom: 5px;
    left: 150px;
    &:before{
      display: block;
      content: '';
      background: url("../images/bi-2.png") 0/100% no-repeat;
      width: 84px;
      height: 84px;
      position: absolute;
      bottom: 20px;
      left: 50%;
      margin-left: -42px;
      z-index: 1;
    }
    &:after{
      display: block;
      content: "";
      background: url("../images/bg-ball.png") 0/100% no-repeat;
      width: 174px;
      height: 39px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .ball-7{
    display: block;
    width: 174px;
    height: 84px;
    position: absolute;
    bottom: 45px;
    left: 320px;
    &:before{
      display: block;
      content: '';
      background: url("../images/bi-7.png") 0/100% no-repeat;
      width: 58px;
      height: 59px;
      position: absolute;
      bottom: 20px;
      left: 50%;
      margin-left: -42px;
      z-index: 1;
    }
    &:after{
      display: block;
      content: "";
      background: url("../images/bg-ball.png") 0/100% no-repeat;
      width: 174px;
      height: 39px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .ball-white{
    display: block;
    width: 174px;
    height: 39px;
    position: absolute;
    bottom: 80px;
    left: 420px;
    &:before{
      display: block;
      content: '';
      background: url("../images/bi-white.png") 0/100% no-repeat;
      width: 52px;
      height: 52px;
      position: absolute;
      bottom: 20px;
      left: 50%;
      margin-left: -26px;
      z-index: 1;
    }
    &:after{
      display: block;
      content: "";
      background: url("../images/bg-ball.png") 0/100% no-repeat;
      width: 174px;
      height: 39px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  @keyframes lenxuong {
    0% {
      transform: translateY(-5px) rotate(-90deg);
    }

    5% {
      transform: translateY(0) rotate(90deg);
    }
    100%{
      transform: translateY(-5px) rotate(-90deg);
    }
  }
  .ball-3{
    display: block;
    width: 174px;
    height: 84px;
    position: absolute;
    bottom: 117px;
    left: 699px;
    &:before{
      display: block;
      content: '';
      background: url("../images/bi-3.png") 0/100% no-repeat;
      width: 55px;
      height: 55px;
      position: absolute;
      bottom: 20px;
      left: 50%;
      margin-left: -27px;
      z-index: 1;
    }
    &:after{
      display: block;
      content: "";
      background: url("../images/bg-ball.png") 0/100% no-repeat;
      width: 174px;
      height: 39px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .ball-8{
    display: block;
    width: 174px;
    height: 84px;
    position: absolute;
    bottom: 15px;
    left: 850px;
    &:before{
      display: block;
      content: '';
      background: url("../images/bi-8.png") 0/100% no-repeat;
      width: 91px;
      height: 91px;
      position: absolute;
      bottom: 20px;
      left: 50%;
      margin-left: -45px;
      z-index: 1;
    }
    &:after{
      display: block;
      content: "";
      background: url("../images/bg-ball.png") 0/100% no-repeat;
      width: 174px;
      height: 39px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  @media only screen and (max-width: 1024px) {
    background: url("../images/bg-mb.jpg") 50% 0 no-repeat #143255;
    min-height: 1080px;
    .fixCen{
      width: 640px;
    }
    .count_down{
      top:360px;
      .text{
        font-size: 24px;
      }
      .time{
        font-size: 49px;
      }
    }
    .ball-bida{
      top: 230px;
      right: -25px;
    }
    .bar-icon{
      width: 500px;
      top: 315px;
      left: 50%;
      margin-left: -260px;
    }
    .ball-2{
      bottom: auto;
      top: 980px;
      left: 0px;
    }
    .ball-7{
      bottom:auto;
      top: 950px;
      left: 150px;
    }
    .ball-white{
      bottom: auto;
      top: 932px;
      left: 50%;
      margin-left: 17px;
    }
    .ball-3{
      bottom:auto;
      left: auto;
      right: 15px;
      top: 850px;
    }
    .ball-8{
      bottom:auto;
      left: auto;
      right: 0;
      top: 970px;
    }
  }
  @media only screen and (max-width: 640px) {
    background-size: 640px auto;
    min-height: 675px;
    .fixCen{
      width: 320px;
    }
    .logo{
      width: 131px;
      height: 62px;
      margin-left: -65px;
    }
    .ball-bida{
      width: 90px;
      height: 90px;
      position: absolute;
      top: 145px;
      right: -40px;
      &:before{
        width: 40px;
        height: 40px;
        margin-top: -20px;
        margin-left: -20px;
      }
      &:after{
        width: 90px;
        height: 90px;
      }
    }
    .bar-icon{
      width: 320px;
      top: 195px;
      left: 50%;
      margin-left: -170px;
    }
    .count_down{
      top:230px;
      .text{
        font-size: 12px;
      }
      .time{
        font-size: 24px;
      }
    }
    .ball-2{
      top: 660px;
      left: -15px;
      width: 87px;
      height: 20px;
      position: absolute;
      &:before{
        width: 42px;
        height: 42px;
        bottom: 10px;
        margin-left: -21px;
      }
      &:after{
        width: 87px;
        height: 20px;
      }
    }
    .ball-7{
      top: 620px;
      left: 50px;
      width: 87px;
      height: 20px;
      &:before{
        width: 29px;
        height: 30px;
        bottom: 10px;
        margin-left: -15px;
      }
      &:after{
        width: 87px;
        height: 20px;
      }
    }
    .ball-white{
      top: 580px;
      margin-left: 30px;
      width: 87px;
      height: 20px;
      &:before{
        width: 26px;
        height: 26px;
        bottom: 10px;
        margin-left: -13px;
      }
      &:after{
        width: 87px;
        height: 20px;
      }
    }
    .ball-3{
      right: 0px;
      top: 550px;
      width: 87px;
      height: 20px;
      &:before{
        width: 26px;
        height: 26px;
        bottom: 10px;
        margin-left: -13px;
      }
      &:after{
        width: 87px;
        height: 20px;
      }
    }
    .ball-8{
      right: 0;
      top: 660px;
      width: 87px;
      height: 20px;
      &:before{
        width: 45px;
        height: 45px;
        bottom: 10px;
        margin-left: -23px;
      }
      &:after{
        width: 87px;
        height: 20px;
      }
    }
  }
  @media only screen and (max-width: 390px) {
    background-size: 512px auto;
    min-height: 540px;
    .ball-bida{
      top: 115px;
      right: -10px;
    }
    .bar-icon{
      width: 260px;
      top: 155px;
      left: 50%;
      margin-left: -160px;
    }
    .count_down{
      top:185px;
      .text{
        font-size: 12px;
      }
      .time{
        font-size: 24px;
      }
    }
    .ball-2{
      top: 500px;
    }
    .ball-7{
      top: 500px;
    }
    .ball-white{
      top: 470px;
      margin-left: 10px;
    }
    .ball-3{
      top: 450px;
    }
    .ball-8{
      top: 500px;
    }
  }
}